In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import approval_que_app as aqa

In [4]:
working_session = aqa.OracleConnect()

logs file exists in project_root

In [5]:
working_session_backup = aqa.TableBackUp(working_session)

back_ups file exists in project_root
session_back_ups file exists in back_ups
user_back_ups file exists in back_ups

In [6]:
# Create session backups
_result = working_session_backup.perform_session_backup()
print(_result)
# Display created file names
print(working_session_backup.session_bk_FORAQUS_file_name)
print(working_session_backup.session_bk_FORAQRC_file_name)
print(working_session_backup.session_bk_FTVAPPQ_file_name)

back_ups/session_back_ups/FORAQUS_2023-06-05
select  FORAQUS_QUEUE_ID, FORAQUS_USER_ID_APPR, FORAQUS_QUEUE_LEVEL, FORAQUS_QUEUE_LIMIT, FORAQUS_EFF_DATE, FORAQUS_NCHG_DATE, FORAQUS_TERM_DATE, FORAQUS_ACTIVITY_DATE, FORAQUS_USER_ID, FORAQUS_SURROGATE_ID, FORAQUS_VERSION, FORAQUS_DATA_ORIGIN, FORAQUS_VPDI_CODE from FORAQUS
execute_sql_query  exec_time: 2.5523595809936523
select  FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE, FORAQRC_SURROGATE_ID, FORAQRC_VERSION, FORAQRC_DATA_ORIGIN, FORAQRC_VPDI_CODE from FORAQRC
execute_sql_query  exec_time: 0.24708795547485352
select  FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID, FTVAPPQ_SURROGATE_ID, FTVAPPQ_DATA_ORIGIN, FTVAPPQ_VERSION, FTVAPPQ_VPDI_CODE from FTVAPPQ
execute_sql_query  exec_time: 0.31916332244873047
None
FORAQUS_2023-06-05
FORAQRC_2023-06-05
FTVAPPQ_2023-06-05

In [10]:
working_session.engine_connection.close()

In [ ]:
print(working_session)
print(dir(working_session))
print(vars(working_session))

In [ ]:
_select = 'distinct FORAQUS_USER_ID_APPR'
_from = 'FORAQUS'
_where = ''
_order_by = 'FORAQUS_USER_ID_APPR'
_group_by = ''
_max_records_returned = ''

In [ ]:
x = working_session.db_query(_select, _from, _where, _order_by, _group_by, _max_records_returned)
print(x)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Workforce Development Community Engagement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['LNOWAK']),('E','G',999.99,['BJESTER1']),('G','EXBS',4999.99,['HDAVIS18'])]
orgns_to_route = ['12807']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Cell Towers'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',.05,['DMCINTOSH1'])]
orgns_to_route = ['23003', '23004']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = '23006 Emergency Phone'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','C',.01,['BJESTER1']),('C','E',.02,['SMILLER66']),('E','G',0.03,['MDIOQUINO']),('G','VPAS',0.04,['RSHAW'])]
orgns_to_route = ['23006']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'COVID-19 Recovery Block Grant'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','G',0.03,['SMILLER66']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62402']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Student Housing Planning Grant'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','G',0.03,['SBRAR']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62401']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Zero Textbook Cost Prog'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','G',0.03,['KMITCHELL18']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62401']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
# 11-14-2022

In [6]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Emergency Financial Asstc Suppl'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','F',999.99,['nwilliams']),('F','G',999.99,['ltrimble']),('G','EXBS',4999.99,['SMILLER66'])]
orgns_to_route = ['62503']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03818464279174805
'150A','Emergency Financial Asstc Suppl',0,'150B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('150A','Emergency Financial Asstc Suppl',0,'150B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.09192967414855957
None
'150A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0759739875793457
None
'150A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07075810432434082
None
'150A', 1, 'REQG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
'150A', 2, 'CORG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('150A', 1, 'REQG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07399868965148926
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('150A', 2, 'CORG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0709991455078125
None
'150B','Emergency Financial Asstc Suppl',0.01,'150E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('150B','Emergency Financial Asstc Suppl',0.01,'150E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07099747657775879
None
'150B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0711054801940918
None
'150E','Emergency Financial Asstc Suppl',999.99,'150F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('150E','Emergency Financial Asstc Suppl',999.99,'150F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07158899307250977
None
'150E', 'nwilliams', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150E', 'nwilliams', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07250547409057617
None
'150F','Emergency Financial Asstc Suppl',999.99,'150G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('150F','Emergency Financial Asstc Suppl',999.99,'150G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07158660888671875
None
'150F', 'ltrimble', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150F', 'ltrimble', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07039117813110352
None
'150G','Emergency Financial Asstc Suppl',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('150G','Emergency Financial Asstc Suppl',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07011723518371582
None
'150G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('150G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07126045227050781
None
'B150','Emergency Financial Asstc Suppl',0,'150E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B150','Emergency Financial Asstc Suppl',0,'150E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07001757621765137
None
'B150', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B150', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06995248794555664
None
'B150', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B150', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0709836483001709
None
'B150', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B150', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06905627250671387
None
'B150', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B150', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07192230224609375
None
'B150', 20, 'DBRG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B150', 20, 'DBRG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07101058959960938
None

In [7]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Title V Data Science'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','F',999.99,['cvaliotis']),('F','G',999.99,['cvaliotis']),('G','EXBS',4999.99,['SMILLER66'])]
orgns_to_route = ['62051']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.034172773361206055
'151A','Title V Data Science',0,'151B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('151A','Title V Data Science',0,'151B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07199835777282715
None
'151A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07001280784606934
None
'151A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06998705863952637
None
'151A', 1, 'REQG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', ''
'151A', 2, 'CORG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('151A', 1, 'REQG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07099413871765137
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('151A', 2, 'CORG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06910324096679688
None
'151B','Title V Data Science',0.01,'151E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('151B','Title V Data Science',0.01,'151E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07190895080566406
None
'151B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07008719444274902
None
'151E','Title V Data Science',999.99,'151F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('151E','Title V Data Science',999.99,'151F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07089519500732422
None
'151E', 'cvaliotis', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151E', 'cvaliotis', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07007431983947754
None
'151F','Title V Data Science',999.99,'151G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('151F','Title V Data Science',999.99,'151G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06994366645812988
None
'151F', 'cvaliotis', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151F', 'cvaliotis', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07008981704711914
None
'151G','Title V Data Science',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('151G','Title V Data Science',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07190656661987305
None
'151G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('151G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07080554962158203
None
'B151','Title V Data Science',0,'151E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B151','Title V Data Science',0,'151E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07152152061462402
None
'B151', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B151', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07223868370056152
None
'B151', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B151', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.08061981201171875
None
'B151', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B151', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07172465324401855
None
'B151', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B151', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07110953330993652
None
'B151', 20, 'DBRG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B151', 20, 'DBRG', 'A', '', '', '62051', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07323670387268066
None

In [8]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Payroll'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',0.05,['dclarkhackenberg'])]
orgns_to_route = ['11035']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03399991989135742
'152A','Payroll',0,'152B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('152A','Payroll',0,'152B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07210350036621094
None
'152A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('152A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07228493690490723
None
'152A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('152A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07092809677124023
None
'152A', 1, 'REQG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', ''
'152A', 2, 'CORG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('152A', 1, 'REQG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06959772109985352
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('152A', 2, 'CORG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06974005699157715
None
'152B','Payroll',0.01,'152G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('152B','Payroll',0.01,'152G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07104253768920898
None
'152B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('152B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07222938537597656
None
'152G','Payroll',0.05,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('152G','Payroll',0.05,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07309556007385254
None
'152G', 'dclarkhackenberg', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('152G', 'dclarkhackenberg', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07429313659667969
None
'B152','Payroll',0,'152G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B152','Payroll',0,'152G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07134556770324707
None
'B152', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B152', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07317590713500977
None
'B152', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B152', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07150411605834961
None
'B152', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B152', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07221865653991699
None
'B152', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B152', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06984496116638184
None
'B152', 20, 'DBRG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B152', 20, 'DBRG', 'A', '', '', '11035', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07138943672180176
None

In [6]:
# List current approver queues
x,y = working_session.get_approvers_queues('SBRAR')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'SBRAR' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06396722793579102
SBRAR ['021G', '022E', '023E', '024G', '025G', '027G', '089C', '134G', '137G', '145G', '148E', 'VPAS']

In [7]:
x = working_session.set_proxy_approver('SBRAR', 'JZELLET', '23-NOV-22', '12-DEC-22')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'SBRAR' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.06421041488647461
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('021G', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0707542896270752
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('VPAS', 'JZELLET', 10, 4999.99, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06799983978271484
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('148E', 'JZELLET', 10, 0.03, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06699657440185547
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022E', 'JZELLET', 10, 0.04, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06498551368713379
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023E', 'JZELLET', 10, 0.04, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06712198257446289
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025G', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06629681587219238
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024G', 'JZELLET', 9, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06811833381652832
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('089C', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06663918495178223
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134G', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06714916229248047
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('145G', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06585049629211426
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('137G', 'JZELLET', 10, 4999.99, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06565141677856445
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027G', 'JZELLET', 10, 0.05, '23-NOV-22', null, '12-DEC-22', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06592011451721191
None

#12/1/2022 queue updates

23007
Fire Alarm System Upgrade

23008
Asbestos Abatement

23009
Child Development Center Upgrade

23010
Emerg. Lighting Upgrade/Replacement

23011
Fire Pump Replacement

23012
Repair/Replacement Roof/Exhaust Fan

23013
HVAC VFD Replacement

23014
Lighting Control System Replacement

23015
Landscape,AccessPoint&CampusPathway

23016
HVAC Heating Units Upgrade/Replacem

In [6]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Fire Alarm System Upgrade'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23007']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03755044937133789
'153A','Fire Alarm System Upgrade',0,'153B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('153A','Fire Alarm System Upgrade',0,'153B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.09200644493103027
None
'153A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07803845405578613
None
'153A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07003617286682129
None
'153A', 1, 'REQG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', ''
'153A', 2, 'CORG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('153A', 1, 'REQG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07262730598449707
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('153A', 2, 'CORG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07070612907409668
None
'153B','Fire Alarm System Upgrade',0.01,'153G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('153B','Fire Alarm System Upgrade',0.01,'153G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07497096061706543
None
'153B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06866335868835449
None
'153G','Fire Alarm System Upgrade',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('153G','Fire Alarm System Upgrade',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07964777946472168
None
'153G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07308793067932129
None
'B153','Fire Alarm System Upgrade',0,'153G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B153','Fire Alarm System Upgrade',0,'153G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06939411163330078
None
'B153', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B153', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06916213035583496
None
'B153', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B153', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.09226417541503906
None
'B153', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B153', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07002663612365723
None
'B153', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B153', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0682058334350586
None
'B153', 20, 'DBRG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B153', 20, 'DBRG', 'A', '', '', '23007', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07102799415588379
None

In [7]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Asbestos Abatement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23008']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.0330352783203125
'154A','Asbestos Abatement',0,'154B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('154A','Asbestos Abatement',0,'154B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06757545471191406
None
'154A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06606054306030273
None
'154A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06772613525390625
None
'154A', 1, 'REQG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', ''
'154A', 2, 'CORG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('154A', 1, 'REQG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0719749927520752
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('154A', 2, 'CORG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06586003303527832
None
'154B','Asbestos Abatement',0.01,'154G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('154B','Asbestos Abatement',0.01,'154G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06896305084228516
None
'154B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06633591651916504
None
'154G','Asbestos Abatement',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('154G','Asbestos Abatement',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06678628921508789
None
'154G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06803488731384277
None
'B154','Asbestos Abatement',0,'154G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B154','Asbestos Abatement',0,'154G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06841135025024414
None
'B154', 20, 'DBRG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B154', 20, 'DBRG', 'A', '', '', '23008', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06629467010498047
None

In [8]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Child Development Center Upgrade'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23009']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03215956687927246
'155A','Child Development Center Upgrade',0,'155B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('155A','Child Development Center Upgrade',0,'155B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06903266906738281
None
'155A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06809258460998535
None
'155A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06690788269042969
None
'155A', 1, 'REQG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', ''
'155A', 2, 'CORG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('155A', 1, 'REQG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06891298294067383
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('155A', 2, 'CORG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06602263450622559
None
'155B','Child Development Center Upgrade',0.01,'155G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('155B','Child Development Center Upgrade',0.01,'155G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06699442863464355
None
'155B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0673210620880127
None
'155G','Child Development Center Upgrade',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('155G','Child Development Center Upgrade',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06853461265563965
None
'155G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06828045845031738
None
'B155','Child Development Center Upgrade',0,'155G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B155','Child Development Center Upgrade',0,'155G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06892061233520508
None
'B155', 20, 'DBRG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B155', 20, 'DBRG', 'A', '', '', '23009', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06696557998657227
None

In [9]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Emerg Lighting Upgrade Replacement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23010']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03310275077819824
'156A','Emerg Lighting Upgrade Replacement',0,'156B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('156A','Emerg Lighting Upgrade Replacement',0,'156B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06893277168273926
None
'156A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06793427467346191
None
'156A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0679941177368164
None
'156A', 1, 'REQG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', ''
'156A', 2, 'CORG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('156A', 1, 'REQG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06790947914123535
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('156A', 2, 'CORG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06644010543823242
None
'156B','Emerg Lighting Upgrade Replacement',0.01,'156G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('156B','Emerg Lighting Upgrade Replacement',0.01,'156G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06736373901367188
None
'156B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06987667083740234
None
'156G','Emerg Lighting Upgrade Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('156G','Emerg Lighting Upgrade Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07039737701416016
None
'156G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06841087341308594
None
'B156','Emerg Lighting Upgrade Replacement',0,'156G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B156','Emerg Lighting Upgrade Replacement',0,'156G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0691218376159668
None
'B156', 20, 'DBRG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B156', 20, 'DBRG', 'A', '', '', '23010', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06927299499511719
None

In [10]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Fire Pump Replacement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23011']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.032364845275878906
'157A','Fire Pump Replacement',0,'157B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('157A','Fire Pump Replacement',0,'157B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06756424903869629
None
'157A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06801438331604004
None
'157A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0682535171508789
None
'157A', 1, 'REQG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', ''
'157A', 2, 'CORG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('157A', 1, 'REQG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06632733345031738
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('157A', 2, 'CORG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06801724433898926
None
'157B','Fire Pump Replacement',0.01,'157G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('157B','Fire Pump Replacement',0.01,'157G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06809163093566895
None
'157B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06690335273742676
None
'157G','Fire Pump Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('157G','Fire Pump Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0669863224029541
None
'157G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06799840927124023
None
'B157','Fire Pump Replacement',0,'157G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B157','Fire Pump Replacement',0,'157G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06745648384094238
None
'B157', 20, 'DBRG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B157', 20, 'DBRG', 'A', '', '', '23011', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06695199012756348
None

In [11]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Repair Replacement Roof Exhaust Fan'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23012']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03303384780883789
'158A','Repair Replacement Roof Exhaust Fan',0,'158B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('158A','Repair Replacement Roof Exhaust Fan',0,'158B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07193827629089355
None
'158A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07085895538330078
None
'158A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06999444961547852
None
'158A', 1, 'REQG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', ''
'158A', 2, 'CORG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('158A', 1, 'REQG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06900310516357422
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('158A', 2, 'CORG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06896281242370605
None
'158B','Repair Replacement Roof Exhaust Fan',0.01,'158G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('158B','Repair Replacement Roof Exhaust Fan',0.01,'158G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06830954551696777
None
'158B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06864380836486816
None
'158G','Repair Replacement Roof Exhaust Fan',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('158G','Repair Replacement Roof Exhaust Fan',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0705411434173584
None
'158G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06970930099487305
None
'B158','Repair Replacement Roof Exhaust Fan',0,'158G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B158','Repair Replacement Roof Exhaust Fan',0,'158G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06746983528137207
None
'B158', 20, 'DBRG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B158', 20, 'DBRG', 'A', '', '', '23012', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06877517700195312
None

In [12]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'HVAC VFD Replacement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23013']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.033031463623046875
'159A','HVAC VFD Replacement',0,'159B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('159A','HVAC VFD Replacement',0,'159B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06721234321594238
None
'159A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06857419013977051
None
'159A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06904029846191406
None
'159A', 1, 'REQG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', ''
'159A', 2, 'CORG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('159A', 1, 'REQG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06879472732543945
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('159A', 2, 'CORG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0680243968963623
None
'159B','HVAC VFD Replacement',0.01,'159G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('159B','HVAC VFD Replacement',0.01,'159G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06985878944396973
None
'159B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06816744804382324
None
'159G','HVAC VFD Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('159G','HVAC VFD Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06802821159362793
None
'159G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0666356086730957
None
'B159','HVAC VFD Replacement',0,'159G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B159','HVAC VFD Replacement',0,'159G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06929278373718262
None
'B159', 20, 'DBRG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B159', 20, 'DBRG', 'A', '', '', '23013', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06844377517700195
None

In [13]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Lighting Control System Replacement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23014']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03290724754333496
'160A','Lighting Control System Replacement',0,'160B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('160A','Lighting Control System Replacement',0,'160B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06733202934265137
None
'160A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0690619945526123
None
'160A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06644940376281738
None
'160A', 1, 'REQG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', ''
'160A', 2, 'CORG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('160A', 1, 'REQG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06614089012145996
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('160A', 2, 'CORG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06659674644470215
None
'160B','Lighting Control System Replacement',0.01,'160G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('160B','Lighting Control System Replacement',0.01,'160G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06673812866210938
None
'160B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0670480728149414
None
'160G','Lighting Control System Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('160G','Lighting Control System Replacement',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06898379325866699
None
'160G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06699395179748535
None
'B160','Lighting Control System Replacement',0,'160G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B160','Lighting Control System Replacement',0,'160G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06746125221252441
None
'B160', 20, 'DBRG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B160', 20, 'DBRG', 'A', '', '', '23014', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06895589828491211
None

In [14]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'LandscapeAccessPointCampusPathway'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23015']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.0324859619140625
'161A','LandscapeAccessPointCampusPathway',0,'161B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('161A','LandscapeAccessPointCampusPathway',0,'161B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06648755073547363
None
'161A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06601262092590332
None
'161A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06798744201660156
None
'161A', 1, 'REQG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', ''
'161A', 2, 'CORG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('161A', 1, 'REQG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06749558448791504
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('161A', 2, 'CORG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0681767463684082
None
'161B','LandscapeAccessPointCampusPathway',0.01,'161G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('161B','LandscapeAccessPointCampusPathway',0.01,'161G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06899213790893555
None
'161B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06798815727233887
None
'161G','LandscapeAccessPointCampusPathway',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('161G','LandscapeAccessPointCampusPathway',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06899499893188477
None
'161G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06869888305664062
None
'B161','LandscapeAccessPointCampusPathway',0,'161G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B161','LandscapeAccessPointCampusPathway',0,'161G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06643462181091309
None
'B161', 20, 'DBRG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B161', 20, 'DBRG', 'A', '', '', '23015', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06710624694824219
None

In [15]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'HVAC Heating Units Upgrade Replacem'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['23016']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.032628536224365234
'162A','HVAC Heating Units Upgrade Replacem',0,'162B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('162A','HVAC Heating Units Upgrade Replacem',0,'162B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06900548934936523
None
'162A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0701138973236084
None
'162A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06799554824829102
None
'162A', 1, 'REQG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', ''
'162A', 2, 'CORG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('162A', 1, 'REQG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06915879249572754
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('162A', 2, 'CORG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06739330291748047
None
'162B','HVAC Heating Units Upgrade Replacem',0.01,'162G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('162B','HVAC Heating Units Upgrade Replacem',0.01,'162G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06812763214111328
None
'162B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06870102882385254
None
'162G','HVAC Heating Units Upgrade Replacem',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('162G','HVAC Heating Units Upgrade Replacem',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06916260719299316
None
'162G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0671994686126709
None
'B162','HVAC Heating Units Upgrade Replacem',0,'162G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B162','HVAC Heating Units Upgrade Replacem',0,'162G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0673365592956543
None
'B162', 20, 'DBRG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B162', 20, 'DBRG', 'A', '', '', '23016', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06748127937316895
None

In [16]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Foundation Grants'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','G',999.99,['nwilliams']),('G','VPAS',4999.99,['ltrimble'])]
orgns_to_route = ['62607']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03232765197753906
'163A','Foundation Grants',0,'163B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('163A','Foundation Grants',0,'163B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07051730155944824
None
'163A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('163A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07005667686462402
None
'163A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('163A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07028317451477051
None
'163A', 1, 'REQG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', ''
'163A', 2, 'CORG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('163A', 1, 'REQG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06821846961975098
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('163A', 2, 'CORG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06857776641845703
None
'163B','Foundation Grants',0.01,'163E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('163B','Foundation Grants',0.01,'163E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06898260116577148
None
'163B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('163B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07049965858459473
None
'163E','Foundation Grants',999.99,'163G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('163E','Foundation Grants',999.99,'163G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06857943534851074
None
'163E', 'nwilliams', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('163E', 'nwilliams', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06777095794677734
None
'163G','Foundation Grants',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('163G','Foundation Grants',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06853032112121582
None
'163G', 'ltrimble', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('163G', 'ltrimble', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06986141204833984
None
'B163','Foundation Grants',0,'163E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B163','Foundation Grants',0,'163E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06813979148864746
None
'B163', 20, 'DBRG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B163', 20, 'DBRG', 'A', '', '', '62607', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06819462776184082
None

In [6]:
# 1/12/2023
queue_chain_number = working_session.get_next_queue_number()
bxxx_queue_appr = ['kjaniszewski']
queue_description = 'Basic Needs Centers'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['kjaniszewski']),('F','G',999.99,['jzimmerman']),('G','EXBS',4999.99,['jrivera102'])]
orgns_to_route = ['62464']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route, bxxx_queue_appr)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.036263465881347656
'165A','Basic Needs Centers',0,'165B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('165A','Basic Needs Centers',0,'165B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.08594298362731934
None
'165A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('165A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07057690620422363
None
'165A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('165A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06707501411437988
None
'165A', 1, 'REQG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', ''
'165A', 2, 'CORG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('165A', 1, 'REQG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.10375523567199707
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('165A', 2, 'CORG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.09919023513793945
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
'165B','Basic Needs Centers',0.01,'165E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('165B','Basic Needs Centers',0.01,'165E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06958699226379395
None
'165B', 'kjaniszewski', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('165B', 'kjaniszewski', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06798815727233887
None
'165F','Basic Needs Centers',999.99,'165G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('165F','Basic Needs Centers',999.99,'165G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06786227226257324
None
'165F', 'jzimmerman', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('165F', 'jzimmerman', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06798148155212402
None
'165G','Basic Needs Centers',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('165G','Basic Needs Centers',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06779336929321289
None
'165G', 'jrivera102', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('165G', 'jrivera102', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07244300842285156
None
'B165','Basic Needs Centers',0,'165F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B165','Basic Needs Centers',0,'165F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06861448287963867
None
'B165', 'kjaniszewski', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B165', 'kjaniszewski', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06895041465759277
None
'B165', 20, 'DBRG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B165', 20, 'DBRG', 'A', '', '', '62464', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.10233283042907715
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated

In [7]:
# 12/7/2022
queue_chain_number = working_session.get_next_queue_number()
bxxx_queue_appr = ['kjaniszewski']
queue_description = 'Youth Apprenticeship'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','F',.01,['kjaniszewski']),('F','G',999.99,['jzimmerman']),('G','EXBS',4999.99,['jrivera102'])]
orgns_to_route = ['62762']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route, bxxx_queue_appr)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.0334019660949707
'166A','Youth Apprenticeship',0,'166B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('166A','Youth Apprenticeship',0,'166B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0689857006072998
None
'166A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('166A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06701111793518066
None
'166A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('166A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0669858455657959
None
'166A', 1, 'REQG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', ''
'166A', 2, 'CORG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('166A', 1, 'REQG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06711316108703613
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('166A', 2, 'CORG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06828069686889648
None
'166B','Youth Apprenticeship',0.01,'166E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('166B','Youth Apprenticeship',0.01,'166E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0671234130859375
None
'166B', 'kjaniszewski', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('166B', 'kjaniszewski', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06699848175048828
None
'166F','Youth Apprenticeship',999.99,'166G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('166F','Youth Apprenticeship',999.99,'166G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06800270080566406
None
'166F', 'jzimmerman', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('166F', 'jzimmerman', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06723713874816895
None
'166G','Youth Apprenticeship',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('166G','Youth Apprenticeship',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06992626190185547
None
'166G', 'jrivera102', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('166G', 'jrivera102', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06712079048156738
None
'B166','Youth Apprenticeship',0,'166F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B166','Youth Apprenticeship',0,'166F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06902194023132324
None
'B166', 'kjaniszewski', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B166', 'kjaniszewski', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06917023658752441
None
'B166', 20, 'DBRG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B166', 20, 'DBRG', 'A', '', '', '62762', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07001686096191406
None

org 62464. I am the approver for Finance, Jose is the executive director approver and Jill Zimmerman is the dean approver.
Org_Code: 62464 Org_Title: Basic Needs Centers Org_Code_Pred: 1500 Status: A Mangr: Jill Zimmerman

In [19]:
x = None #[]
if x is None:
    print('none')

none

In [ ]:
# List current approver queues
x,y = working_session.get_approvers_queues('CHART8')
print(x,y)

In [ ]:
# Replace Approver in Selected Queues to replace current approver with replacement. Pass no queues to replace in all queues.
# Replace all Ex. : working_session.replace_approver('NVALSAMIDES', 'RWALDEN')
#x = working_session.replace_approver('CHART8', 'HDAVIS18', ('CAQ', 'INVQ', 'JVQ', 'NSF')) #
x = working_session.replace_approver('CHART8', 'HDAVIS18')

In [ ]:
# ReList current approver queues
x,y = working_session.get_approvers_queues('CHART8')
print(x,y)

In [11]:
x = working_session.search_for_mt_queues()

print(x)

select  distinct foraqus.FORAQUS_QUEUE_ID,
        (select count(FORAQUS_USER_ID_APPR)
        from foraqus fa
        where fa.FORAQUS_QUEUE_ID = foraqus.FORAQUS_QUEUE_ID
                                    and fa.FORAQUS_TERM_DATE is null
                                    and fa.FORAQUS_NCHG_DATE is null) as OtherApprovers from foraqus  order by 2
execute_sql_query  exec_time: 0.3551037311553955
[]

In [ ]:
# List current approver queues
x,y = working_session.get_approvers_queues('KJANISZEWSKI')
print(x,y)

In [ ]:
x = working_session.term_approver('KJANISZEWSKI', '25-OCT-22', from_queues = ('000B', '001B', '002B', '003B', '004B', '005B', '006B', '007B', '008B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '020B', '024B', '025B', '071B', '072B', '073B', '074B', '075B', '076B', '077B', '078B', '079B', '080B', '081B', '083B', '084B', '085B', '096B', '097B', '115B', '117B', '124B', '125B', '139B', '140B', '141B', '143B', 'B001', 'B002', 'B003', 'B004', 'B006', 'B007', 'B008', 'B013', 'B014', 'B015', 'B016', 'B017', 'B018', 'B019', 'B020', 'B024', 'B053', 'B054', 'B055', 'B071', 'B076', 'B077', 'B078', 'B079', 'B080', 'B084', 'B085', 'B096', 'B097', 'B123', 'B131', 'B141', 'B143', 'B146', 'B147', 'B149') )

In [ ]:
#working_session.insert_into_foraqus("""'B009', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'009B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B020', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'020B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'B098', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'098B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'B115', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'115B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
# BJESTER1
x = working_session.term_approver('BJESTER1', '26-OCT-22', from_queues = ('000B', '002B', '008B', '020B', '023B', '098B', '139B', '140B', '149B', 'B067', 'B140', 'B141', 'B147', 'B148', 'B149'))

In [ ]:

# Step 2 Place DCLARKHACKENBERG into new queue
working_session.insert_into_foraqus("""'B078', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'078B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.orgn_to_queue("'12250', '12360', '12305', '12255', '12155', '12055', '12165', '12355', '12105'")

In [ ]:
# List LNOWAK current approver queues
x,y = working_session.get_approvers_queues('LNOWAK')
print(x,y)

In [ ]:

x = working_session.term_approver('LNOWAK', '26-OCT-22', from_queues = ('001B', '003B', '006B', '008B', '009B', '010B', '011B', '012B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '021B', '022B', '023B', '024B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '034B', '035B', '036B', '037B', '038B', '039B', '041B', '042B', '043B', '044B', '045B', '046B', '047B', '048B', '049B', '050B', '051B', '052B', '053B', '054B', '055B', '056B', '057B', '058B', '059B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '116B', '117B', '118B', '120B', '121B', '122B', '123B', '124B', '125B', '127B', '128B', '129B', '139B', '140B', '141B', '143B', '144B', 'B003', 'B006', 'B007', 'B008', 'B009', 'B013', 'B015', 'B018', 'B019', 'B022', 'B023', 'B025', 'B031', 'B032', 'B034', 'B035', 'B036', 'B038', 'B040', 'B043', 'B048', 'B049', 'B050', 'B056', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B069', 'B070', 'B077', 'B078', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B093', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B104', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B120', 'B123', 'B131', 'B140', 'B141', 'B143', 'B144', 'B146', 'B147', 'B148', 'B149'))

In [ ]:
'62466', '11050', '11200', '11201', '11800', '12930'
[('11201', '104'), ('62466', '135')][('1001', '000'), ('1002', '002'), ('3001', '076'), ('1400', '020')]

In [ ]:

working_session.insert_into_foraqus("""'B002', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'002B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B000', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'000B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B135', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'135B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B104', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'104B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
# List UGOFF current approver queues
x,y = working_session.get_approvers_queues('UGOFF')
print(x,y)

In [ ]:

x = working_session.term_approver('UGOFF', '26-OCT-22', from_queues = ('001B', '003B', '004B', '005B', '006B', '007B', '008B', '009B', '010B', '011B', '012B', '021B', '022B', '023B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '035B', '038B', '039B', '040B', '041B', '042B', '045B', '048B', '049B', '050B', '058B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '071B', '072B', '073B', '074B', '075B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '104B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '115B', '116B', '117B', '118B', '119B', '122B', '124B', '127B', '128B', '129B', '130B', '132B', '137B', '138B', '140B', '141B', '142B', '143B', '148B', 'B003', 'B004', 'B006', 'B007', 'B009', 'B022', 'B023', 'B031', 'B032', 'B035', 'B038', 'B048', 'B049', 'B050', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B071', 'B077', 'B078', 'B079', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B131', 'B137', 'B140', 'B141', 'B143', 'B146', 'B148', 'B149'))

In [ ]:
'13205', '13206,' '62452'
[('1001', '000'), ('1002', '002'), ('3001', '076'), ('1400', '020')]

In [ ]:
working_session.insert_into_foraqus("""'B000', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'000B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B020', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'020B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
x = [('008B', 0), ('013E', 0), ('022B', 0), ('023B', 0), ('028B', 0), ('029B', 0), ('031B', 0), ('032B', 0), ('033B', 0), ('035B', 0), ('035C', 0), ('038B', 0), ('039B', 0), ('048B', 0), ('049B', 0), ('049C', 0), ('050B', 0), ('060B', 0), ('061B', 0), ('062B', 0), ('062C', 0), ('063B', 0), ('064B', 0), ('065B', 0), ('066B', 0), ('066C', 0), ('067B', 0), ('068B', 0), ('069B', 0), ('070B', 0), ('081B', 0), ('082B', 0), ('085B', 0), ('086B', 0), ('087B', 0), ('087G', 0), ('088B', 0), ('088C', 0), ('089B', 0), ('090B', 0), ('091B', 0), ('092B', 0), ('093B', 0), ('094B', 0), ('095B', 0), ('097B', 0), ('100B', 0), ('102B', 0), ('103B', 0), ('103F', 0), ('105B', 0), ('106B', 0), ('107B', 0), ('108B', 0), ('108E', 0), ('108F', 0), ('110B', 0), ('111B', 0), ('112B', 0), ('116B', 0), ('118B', 0), ('119E', 0), ('122B', 0), ('123G', 0), ('126B', 0), ('127B', 0), ('130B', 0), ('131B', 0), ('133B', 0), ('138B', 0), ('140B', 0), ('144B', 0), ('148B', 0), ('149B', 0), ('B007', 0), ('B022', 0), ('B023', 0), ('B031', 0), ('B032', 0), ('B035', 0), ('B038', 0), ('B040', 0), ('B048', 0), ('B049', 0), ('B050', 0), ('B053', 0), ('B054', 0), ('B055', 0), ('B058', 0), ('B060', 0), ('B061', 0), ('B063', 0), ('B064', 0), ('B066', 0), ('B067', 0), ('B068', 0), ('B079', 0), ('B085', 0), ('B086', 0), ('B087', 0), ('B088', 0), ('B089', 0), ('B091', 0), ('B092', 0), ('B094', 0), ('B097', 0), ('B100', 0), ('B102', 0), ('B103', 0), ('B105', 0), ('B107', 0), ('B108', 0), ('B112', 0), ('B116', 0), ('B131', 0), ('B141', 0), ('B144', 0), ('B149', 0)]

x = [('013E', 0), ('022B', 0), ('023B', 0), ('031B', 0), ('032B', 0), ('035B', 0), ('035C', 0), ('038B', 0), ('039B', 0), ('048B', 0), ('049B', 0), ('049C', 0), ('050B', 0), ('060B', 0), ('061B', 0), ('062B', 0), ('062C', 0), ('063B', 0), ('064B', 0), ('066B', 0), ('066C', 0), ('067B', 0), ('068B', 0), ('069B', 0), ('070B', 0), ('085B', 0), ('086B', 0), ('087B', 0), ('087G', 0), ('088B', 0), ('088C', 0), ('089B', 0), ('091B', 0), ('092B', 0), ('093B', 0), ('094B', 0), ('097B', 0), ('100B', 0), ('102B', 0), ('103B', 0), ('103F', 0), ('105B', 0), ('107B', 0), ('108B', 0), ('108E', 0), ('108F', 0), ('116B', 0), ('119E', 0), ('123G', 0), ('131B', 0), ('144B', 0), ('149B', 0), ('B022', 0), ('B023', 0), ('B031', 0), ('B032', 0), ('B035', 0), ('B038', 0), ('B040', 0), ('B048', 0), ('B049', 0), ('B050', 0), ('B053', 0), ('B054', 0), ('B055', 0), ('B058', 0), ('B060', 0), ('B061', 0), ('B063', 0), ('B064', 0), ('B066', 0), ('B067', 0), ('B068', 0), ('B079', 0), ('B085', 0), ('B086', 0), ('B087', 0), ('B088', 0), ('B089', 0), ('B091', 0), ('B092', 0), ('B094', 0), ('B097', 0), ('B100', 0), ('B102', 0), ('B103', 0), ('B105', 0), ('B107', 0), ('B108', 0), ('B116', 0), ('B131', 0), ('B141', 0), ('B144', 0), ('B149', 0)]

new_list = []
for y in x:
    new_list.append(y[0])

print(new_list)
fix_it_list = []
for w in new_list:
    if w[0] == 'B':
        a = working_session.queue_to_orgn(f"'{w}'")
        pass
    else:
        #print(w[0:3])
        a = working_session.queue_to_orgn(f"'{w[0:3]}A'")

    fix_it_list.append(a)

print(fix_it_list)

In [ ]:
'''a = [[('008A', '1301')], [('013A', '13300')], [('022A', '14905')], [('023A', '14910')], [('028A', '62010')], [('029A', '62020')], [('031A', '62040')], [('032A', '62041')], [('033A', '62055'), ('033A', '62426'), ('033A', '62060')], [('035A', '62080')], [('035A', '62080')], [('038A', '62410')], [('039A', '62411')], [('048A', '62431')], [('049A', '62432')], [('049A', '62432')], [('050A', '62433')], [('060A', '62471')], [('061A', '62472')], [('062A', '62491')], [('062A', '62491')], [('063A', '62701')], [('064A', '62702')], [('065A', '62486'), ('065A', '62703')], [('066A', '62704')], [('066A', '62704')], [('067A', '62438'), ('067A', '62705')], [('068A', '62706')], [('069A', '62707')], [('070A', '62708')], [('081A', '12260')], [('082A', '12805')], [('085A', '3007')], [('086A', '62418')], [('087A', '62474')], [('087A', '62474')], [('088A', '62419')], [('088A', '62419')], [('089A', '62473')], [('090A', '62077'), ('090A', '62075')], [('091A', '62434')], [('092A', '62421')], [('093A', '62601')], [('094A', '62475')], [('095A', '62476')], [('097A', '3009')], [('100A', '62710')], [('102A', '62479')], [('103A', '62485'), ('103A', '62489')], [('103A', '62485'), ('103A', '62489')], [('105A', '62481')], [('106A', '62482')], [('107A', '62484')], [('108A', '62712')], [('108A', '62712')], [('108A', '62712')], [('110A', '62483')], [('111A', '62424')], [('112A', '62486')], [('116A', '62423')], [('118A', '62043'), ('118A', '62044')], [('119A', '62446')], [('122A', '62487')], [('123A', '62045'), ('123A', '62036')], [('126A', '62412')], [('127A', '62437')], [('130A', '62498')], [('131A', '62459')], [('133A', '62499')], [('138A', '62469'), ('138A', '62490')], [('140A', '62404')], [('144A', '12807')], [('148A', '62401')], [('149A', '62501')], [('B007', '1300')], [('B022', '14905')], [('B023', '14910')], [('B031', '62040')], [('B032', '62041')], [('B035', '62080')], [('B038', '62410')], [('B040', '62414')], [('B048', '62431')], [('B049', '62432')], [('B050', '62433')], [('B053', '62450')], [('B054', '62451')], [('B055', '62453')], [('B058', '62462')], [('B060', '62471')], [('B061', '62472')], [('B063', '62701')], [('B064', '62702')], [('B066', '62704')], [('B067', '62705'), ('B067', '62438')], [('B068', '62706')], [('B079', '3004'), ('B079', '62444'), ('B079', '62445')], [('B085', '3007')], [('B086', '62418')], [('B087', '62474')], [('B088', '62419')], [('B089', '62473')], [('B091', '62434')], [('B092', '62421')], [('B094', '62475')], [('B097', '3009')], [('B100', '62710')], [('B102', '62479')], [('B103', '62485'), ('B103', '62489')], [('B105', '62481')], [], [('B108', '62712')], [('B112', '62486')], [('B116', '62423')], [('B131', '62459')], [('B141', '62719')], [('B144', '12807')], [('B149', '62501')]]'''

a = [[('013A', '13300')], [('022A', '14905')], [('023A', '14910')], [('031A', '62040')], [('032A', '62041')], [('035A', '62080')], [('035A', '62080')], [('038A', '62410')], [('039A', '62411')], [('048A', '62431')], [('049A', '62432')], [('049A', '62432')], [('050A', '62433')], [('060A', '62471')], [('061A', '62472')], [('062A', '62491')], [('062A', '62491')], [('063A', '62701')], [('064A', '62702')], [('066A', '62704')], [('066A', '62704')], [('067A', '62438'), ('067A', '62705')], [('068A', '62706')], [('069A', '62707')], [('070A', '62708')], [('085A', '3007')], [('086A', '62418')], [('087A', '62474')], [('087A', '62474')], [('088A', '62419')], [('088A', '62419')], [('089A', '62473')], [('091A', '62434')], [('092A', '62421')], [('093A', '62601')], [('094A', '62475')], [('097A', '3009')], [('100A', '62710')], [('102A', '62479')], [('103A', '62485'), ('103A', '62489')], [('103A', '62485'), ('103A', '62489')], [('105A', '62481')], [('107A', '62484')], [('108A', '62712')], [('108A', '62712')], [('108A', '62712')], [('116A', '62423')], [('119A', '62446')], [('123A', '62045'), ('123A', '62036')], [('131A', '62459')], [('144A', '12807')], [('149A', '62501')], [('B022', '14905')], [('B023', '14910')], [('B031', '62040')], [('B032', '62041')], [('B035', '62080')], [('B038', '62410')], [('B040', '62414')], [('B048', '62431')], [('B049', '62432')], [('B050', '62433')], [('B053', '62450')], [('B054', '62451')], [('B055', '62453')], [('B058', '62462')], [('B060', '62471')], [('B061', '62472')], [('B063', '62701')], [('B064', '62702')], [('B066', '62704')], [('B067', '62705'), ('B067', '62438')], [('B068', '62706')], [('B079', '3004'), ('B079', '62444'), ('B079', '62445')], [('B085', '3007')], [('B086', '62418')], [('B087', '62474')], [('B088', '62419')], [('B089', '62473')], [('B091', '62434')], [('B092', '62421')], [('B094', '62475')], [('B097', '3009')], [('B100', '62710')], [('B102', '62479')], [('B103', '62485'), ('B103', '62489')], [('B105', '62481')], [], [('B108', '62712')], [('B116', '62423')], [('B131', '62459')], [('B141', '62719')], [('B144', '12807')], [('B149', '62501')]]

for b in a:
    print(b)

In [ ]:
working_session.insert_into_foraqus("""'B133', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'133B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B130', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'130B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B118', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'118B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B110', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'110B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B095', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'095B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B082', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'082B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B081', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'081B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.insert_into_foraqus("""'B148', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'148B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B140', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'140B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B138', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'138B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B127', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'127B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B126', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'126B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B122', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'122B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B112', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'112B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B111', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'111B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B106', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'106B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B065', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'065B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B033', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'033B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.insert_into_foraqus("""'B119', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'119B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B007', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'007B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.insert_into_foraqus("""'B008', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'008B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B013', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'013B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B028', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'028B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B029', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'029B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B090', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'090B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B123', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'123B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.insert_into_foraqus("""'022B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'023B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'032B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'035B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'038B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'049B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'050B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'060B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'061B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'062B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'063B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'064B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'068B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'086B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'087B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'089B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'091B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'092B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'094B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'100B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'102B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'103B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'105B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'107B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'108B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'116B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'131B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'144B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'149B' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B022' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B023' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B032' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B035' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B038' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B040' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B049' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B050' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B060' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B061' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B063' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B064' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B068' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B086' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B087' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B089' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B091' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B092' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B094' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B100' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B102' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B103' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B105' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B107' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B108' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B116' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B131' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B144' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B149' , 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

working_session.insert_into_foraqus("""'022B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'023B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'032B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'035B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'038B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'049B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'050B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'060B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'061B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'062B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'063B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'064B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'068B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'086B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'087B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'089B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'091B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'092B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'094B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'100B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'102B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'103B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'105B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'107B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'108B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'116B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'131B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'144B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'149B' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B022' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B023' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B032' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B035' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B038' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B040' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B049' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B050' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B060' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B061' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B063' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B064' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B068' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B086' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B087' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B089' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B091' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B092' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B094' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B100' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B102' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B103' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B105' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B107' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B108' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B116' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B131' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B144' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B149' , 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

working_session.insert_into_foraqus("""'022B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'023B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'032B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'035B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'038B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'049B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'050B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'060B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'061B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'062B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'063B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'064B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'068B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'086B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'087B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'089B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'091B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'092B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'094B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'100B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'102B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'103B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'105B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'107B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'108B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'116B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'131B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'144B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'149B' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B022' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B023' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B032' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B035' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B038' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B040' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B049' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B050' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B060' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B061' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B063' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B064' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B068' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B086' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B087' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B089' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B091' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B092' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B094' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B100' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B102' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B103' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B105' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B107' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B108' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B116' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B131' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B144' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B149' , 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

working_session.insert_into_foraqus("""'022B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'023B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'032B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'035B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'038B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'049B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'050B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'060B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'061B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'062B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'063B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'064B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'068B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'086B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'087B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'089B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'091B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'092B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'094B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'100B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'102B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'103B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'105B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'107B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'108B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'116B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'131B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'144B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'149B' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B022' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B023' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B032' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B035' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B038' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B040' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B049' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B050' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B060' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B061' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B063' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B064' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B068' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B086' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B087' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B089' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B091' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B092' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B094' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B100' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B102' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B103' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B105' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B107' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B108' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B116' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B131' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B144' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B149' , 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

## Dawn

In [21]:
# List current approver queues
x,y = working_session.get_approvers_queues('DMCINTOSH1')
print(x,y)
# results DMCINTOSH1 ['022E', '023E', '024G', '025G', '027G', '089C', '134G', '145G']

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.034125328063964844
DMCINTOSH1 []

In [8]:
# Replace Approver in Selected Queues to replace current approver with replacement. Pass no queues to replace in all queues.
# Replace all Ex. : working_session.replace_approver('NVALSAMIDES', 'RWALDEN')
#x = working_session.replace_approver('NVALSAMIDES', 'RWALDEN', ('CAQ', 'INVQ', 'JVQ', 'NSF')) # Only in the listed queues
x = working_session.replace_approver('DMCINTOSH1', 'SBRAR') # All queues user is in

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.06800317764282227
022E DMCINTOSH1 10 0.04 1999-07-01 00:00:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '022E'
execute_sql_update  exec_time: 0.07934379577636719
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022E', 'DMCINTOSH1', 10, 0.04, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07231593132019043
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022E', 'SBRAR', 10, 0.04, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06842565536499023
None
023E DMCINTOSH1 10 0.04 1999-07-01 00:00:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '023E'
execute_sql_update  exec_time: 0.06930756568908691
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023E', 'DMCINTOSH1', 10, 0.04, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06860780715942383
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023E', 'SBRAR', 10, 0.04, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06861066818237305
None
025G DMCINTOSH1 10 0.05 2022-07-13 15:20:18 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '025G'
execute_sql_update  exec_time: 0.06837606430053711
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025G', 'DMCINTOSH1', 10, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06783151626586914
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025G', 'SBRAR', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0681755542755127
None
027G DMCINTOSH1 10 0.05 2022-06-30 09:35:05 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '027G'
execute_sql_update  exec_time: 0.07013869285583496
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027G', 'DMCINTOSH1', 10, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06899881362915039
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027G', 'SBRAR', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06859779357910156
None
024G DMCINTOSH1 9 0.05 2022-06-30 09:52:43 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '024G'
execute_sql_update  exec_time: 0.06936430931091309
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024G', 'DMCINTOSH1', 9, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06793594360351562
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024G', 'SBRAR', 9, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06466412544250488
None
089C DMCINTOSH1 10 0.05 2022-06-30 09:56:05 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '089C'
execute_sql_update  exec_time: 0.07543754577636719
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('089C', 'DMCINTOSH1', 10, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07147026062011719
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('089C', 'SBRAR', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06918907165527344
None
134G DMCINTOSH1 10 0.05 2022-06-30 09:56:33 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '134G'
execute_sql_update  exec_time: 0.06989741325378418
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134G', 'DMCINTOSH1', 10, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06840038299560547
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134G', 'SBRAR', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06858968734741211
None
145G DMCINTOSH1 10 0.05 2022-09-22 16:45:58 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '145G'
execute_sql_update  exec_time: 0.0684199333190918
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('145G', 'DMCINTOSH1', 10, 0.05, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06925177574157715
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('145G', 'SBRAR', 10, 0.05, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06885194778442383
None

In [20]:
# List current approver queues
x,y = working_session.get_approvers_queues('DMCINTOSH1')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'DMCINTOSH1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.03609037399291992
DMCINTOSH1 []

In [ ]:
#2-23-2023

In [8]:
# List current approver queues
x,y = working_session.get_approvers_queues('BJESTER1')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.10800337791442871
BJESTER1 ['001B', '003B', '006B', '022B', '023B', '025B', '027B', '030B', '031B', '032B', '035B', '038B', '041B', '042B', '045B', '048B', '049B', '050B', '060B', '061B', '062B', '063B', '064B', '066B', '067B', '068B', '076B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '086B', '087B', '088B', '089B', '091B', '092B', '094B', '095B', '096B', '097B', '099B', '100B', '101B', '102B', '103B', '105B', '107B', '108B', '110B', '113B', '114B', '116B', '117B', '118B', '124B', '128B', '130B', '131B', '132B', '133B', '134B', '141B', '143B', '144B', '144E', '144E', '145B', '146B', '149B', '151B', '152B', '153B', '154B', '155B', '156B', '157B', '158B', '159B', '160B', '161B', '162B', 'B001', 'B003', 'B006', 'B022', 'B023', 'B025', 'B027', 'B030', 'B031', 'B032', 'B035', 'B038', 'B040', 'B041', 'B042', 'B045', 'B048', 'B049', 'B050', 'B060', 'B061', 'B063', 'B064', 'B066', 'B067', 'B068', 'B076', 'B077', 'B078', 'B079', 'B080', 'B081', 'B081', 'B082', 'B082', 'B083', 'B084', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B095', 'B095', 'B096', 'B097', 'B099', 'B100', 'B101', 'B102', 'B103', 'B105', 'B107', 'B108', 'B110', 'B110', 'B113', 'B114', 'B116', 'B117', 'B118', 'B118', 'B124', 'B128', 'B130', 'B130', 'B131', 'B132', 'B133', 'B133', 'B134', 'B135', 'B141', 'B143', 'B144', 'B145', 'B146', 'B149', 'B150', 'B151', 'B152', 'B153', 'B154', 'B155', 'B156', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162', 'INVQ']

In [9]:
x,y = working_session.get_approvers_queues('TSTEFFES')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'TSTEFFES' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06879544258117676
TSTEFFES ['137E', '138E', '139G', 'INVQ', 'JVQ', 'NSF']

In [10]:
x = working_session.set_proxy_approver('BJESTER1', 'TSTEFFES', '23-FEB-23', '28-FEB-23')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.10462331771850586
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08629560470581055
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('INVQ', 'TSTEFFES', 10, 999999999.99, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07038187980651855
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07083272933959961
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B027', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07073163986206055
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B003', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0760033130645752
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.072021484375
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('099B', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07051753997802734
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('006B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07083535194396973
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B006', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07074832916259766
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B030', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07247662544250488
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('030B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0721430778503418
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('077B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07068514823913574
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B077', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0717463493347168
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B083', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07226943969726562
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('083B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07042455673217773
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B084', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07080531120300293
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('084B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08637690544128418
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('041B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07036447525024414
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B041', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07129669189453125
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B114', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07159209251403809
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('114B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07729148864746094
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B099', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07251501083374023
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B124', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07068252563476562
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('124B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07217764854431152
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B101', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07233858108520508
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('101B', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0723116397857666
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0709836483001709
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B134', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07192254066467285
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('141B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07059049606323242
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('143B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07220792770385742
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B143', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07062220573425293
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('045B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07208013534545898
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('117B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07010602951049805
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('042B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07139110565185547
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('128B', 'TSTEFFES', 10, 0.02, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07426691055297852
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('113B', 'TSTEFFES', 1, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07053709030151367
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B117', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07010555267333984
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B135', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07001495361328125
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B095', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07097840309143066
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B113', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07099127769470215
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B042', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0729975700378418
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B132', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07100629806518555
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B081', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06898927688598633
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B130', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07035613059997559
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B133', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06949853897094727
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B001', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07006525993347168
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B118', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06943225860595703
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B110', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07299923896789551
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B128', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07068181037902832
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B045', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06905627250671387
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B082', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06999516487121582
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('144E', 'TSTEFFES', 10, 999.99, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0689854621887207
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('079B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07100224494934082
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('080B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06898760795593262
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('076B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06914639472961426
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('096B', 'TSTEFFES', 10, 0.0, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07100868225097656
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('144E', 'TSTEFFES', 10, 999.99, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.10599064826965332
ORA-00001: unique constraint (FIMSMGR.PK_FORAQUS) violated
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('145B', 'TSTEFFES', 10, 0.01, '23-FEB-23', null, '28-FEB-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07041263580322266
None

In [12]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Math Engineering Science Achievement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','G',999.99,['CVALIOTIS']),('G','EXBS',4999.99,['SJOHNSTON9'])]
orgns_to_route = ['62504']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03799796104431152
'167A','Math Engineering Science Achievement',0,'167B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('167A','Math Engineering Science Achievement',0,'167B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.1076209545135498
ORA-12899: value too large for column "FIMSMGR"."FTVAPPQ"."FTVAPPQ_DESCRIPTION" (actual: 36, maximum: 35)
'167A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('167A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07569360733032227
None
'167A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('167A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07251262664794922
None
'167A', 1, 'REQG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', ''
'167A', 2, 'CORG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('167A', 1, 'REQG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07077574729919434
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('167A', 2, 'CORG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07198309898376465
None
'167B','Math Engineering Science Achievement',0.01,'167E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('167B','Math Engineering Science Achievement',0.01,'167E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.10042357444763184
ORA-12899: value too large for column "FIMSMGR"."FTVAPPQ"."FTVAPPQ_DESCRIPTION" (actual: 36, maximum: 35)
'167B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('167B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07180547714233398
None
'167E','Math Engineering Science Achievement',999.99,'167G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('167E','Math Engineering Science Achievement',999.99,'167G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.10001301765441895
ORA-12899: value too large for column "FIMSMGR"."FTVAPPQ"."FTVAPPQ_DESCRIPTION" (actual: 36, maximum: 35)
'167E', 'CVALIOTIS', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('167E', 'CVALIOTIS', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0704960823059082
None
'167G','Math Engineering Science Achievement',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('167G','Math Engineering Science Achievement',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.10049843788146973
ORA-12899: value too large for column "FIMSMGR"."FTVAPPQ"."FTVAPPQ_DESCRIPTION" (actual: 36, maximum: 35)
'167G', 'SJOsjohnston9', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('167G', 'SJOsjohnston9', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0709841251373291
None
'B167','Math Engineering Science Achievement',0,'167E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B167','Math Engineering Science Achievement',0,'167E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.10043025016784668
ORA-12899: value too large for column "FIMSMGR"."FTVAPPQ"."FTVAPPQ_DESCRIPTION" (actual: 36, maximum: 35)
'B167', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B167', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07001066207885742
None
'B167', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B167', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07128572463989258
None
'B167', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B167', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07100129127502441
None
'B167', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B167', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06992912292480469
None
'B167', 20, 'DBRG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B167', 20, 'DBRG', 'A', '', '', '62504', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07104945182800293
None

In [ ]:
# 2/28/2023

In [7]:
# List current approver queues
# jrivera102@avc.edu replace with jzellet@avc.edu
x,y = working_session.get_approvers_queues('JRIVERA102')
print(x,y)

"""JRIVERA102 ['008G', '009G', '010G', '011G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '090G', '093G', '098G', '100G', '109G', '111G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G']
"""

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06501436233520508
JRIVERA102 ['008G', '009G', '010G', '011G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '090G', '093G', '098G', '100G', '109G', '111G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G']

In [8]:
x = working_session.replace_approver('JRIVERA102', 'JZELLET') # All queues user is in

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.06445956230163574
008G JRIVERA102 10 4999.99 2022-07-28 09:29:18 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '008G'
execute_sql_update  exec_time: 0.08479928970336914
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07019472122192383
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06890678405761719
None
009G JRIVERA102 10 4999.99 2022-07-28 09:38:53 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '009G'
execute_sql_update  exec_time: 0.06799602508544922
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0672907829284668
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06920623779296875
None
010G JRIVERA102 10 4999.99 2022-07-28 09:51:27 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '010G'
execute_sql_update  exec_time: 0.06854104995727539
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06794452667236328
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07177138328552246
None
011G JRIVERA102 10 4999.99 2022-07-28 09:53:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '011G'
execute_sql_update  exec_time: 0.0665433406829834
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06581687927246094
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06899547576904297
None
013G JRIVERA102 10 4999.99 2022-07-28 10:09:13 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '013G'
execute_sql_update  exec_time: 0.06704592704772949
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06587100028991699
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06550931930541992
None
014G JRIVERA102 10 4999.99 2022-07-28 10:22:12 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '014G'
execute_sql_update  exec_time: 0.0719456672668457
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06685924530029297
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06963014602661133
None
015G JRIVERA102 10 4999.99 2022-07-28 10:22:55 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '015G'
execute_sql_update  exec_time: 0.068206787109375
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07166814804077148
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0666208267211914
None
016G JRIVERA102 10 4999.99 2022-07-28 10:23:48 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '016G'
execute_sql_update  exec_time: 0.07217693328857422
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06685638427734375
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06882429122924805
None
017G JRIVERA102 10 4999.99 2022-07-28 10:24:23 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '017G'
execute_sql_update  exec_time: 0.06699538230895996
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06777191162109375
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0682075023651123
None
018G JRIVERA102 10 4999.99 2022-07-28 10:25:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '018G'
execute_sql_update  exec_time: 0.06923365592956543
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06581997871398926
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0654458999633789
None
019G JRIVERA102 10 4999.99 2022-07-28 10:25:26 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '019G'
execute_sql_update  exec_time: 0.0679926872253418
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0700693130493164
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06976556777954102
None
028G JRIVERA102 10 4999.99 2022-07-28 10:26:01 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '028G'
execute_sql_update  exec_time: 0.06847524642944336
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06653857231140137
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06984686851501465
None
033G JRIVERA102 10 4999.99 2022-07-28 10:31:12 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '033G'
execute_sql_update  exec_time: 0.08032083511352539
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0785517692565918
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06873488426208496
None
142G JRIVERA102 10 4999.99 2022-08-19 09:27:20 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '142G'
execute_sql_update  exec_time: 0.06902718544006348
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('142G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06551194190979004
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('142G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06548595428466797
None
034G JRIVERA102 10 4999.99 2022-07-28 10:32:53 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '034G'
execute_sql_update  exec_time: 0.06833076477050781
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('034G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06646847724914551
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('034G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06819987297058105
None
036G JRIVERA102 10 4999.99 2022-07-28 10:33:24 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '036G'
execute_sql_update  exec_time: 0.06738901138305664
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('036G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06713247299194336
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('036G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06940054893493652
None
051G JRIVERA102 10 4999.99 2022-07-28 10:35:16 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '051G'
execute_sql_update  exec_time: 0.06802058219909668
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('051G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06870746612548828
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('051G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06792378425598145
None
052G JRIVERA102 10 4999.99 2022-07-28 10:35:52 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '052G'
execute_sql_update  exec_time: 0.07010841369628906
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('052G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07433605194091797
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('052G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07658720016479492
None
053G JRIVERA102 10 4999.99 2022-07-28 10:37:38 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '053G'
execute_sql_update  exec_time: 0.07065081596374512
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('053G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07072901725769043
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('053G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06982946395874023
None
054G JRIVERA102 10 4999.99 2022-07-28 10:38:08 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '054G'
execute_sql_update  exec_time: 0.07393002510070801
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('054G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07311224937438965
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('054G', 'JZELLET', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06792473793029785
None
055G JRIVERA102 10 4999.99 2022-07-28 10:38:33 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '055G'
execute_sql_update  exec_time: 0.06792497634887695
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('055G', 'JRIVERA102', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06980228424072266
None

In [9]:
x,y = working_session.get_approvers_queues('JRIVERA102')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JRIVERA102' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.03209376335144043
JRIVERA102 []

In [10]:
x = working_session.search_for_mt_queues()
print(x)

select  distinct foraqus.FORAQUS_QUEUE_ID,
        (select count(FORAQUS_USER_ID_APPR)
        from foraqus fa
        where fa.FORAQUS_QUEUE_ID = foraqus.FORAQUS_QUEUE_ID
                                    and fa.FORAQUS_TERM_DATE is null
                                    and fa.FORAQUS_NCHG_DATE is null) as OtherApprovers from foraqus  order by 2
execute_sql_query  exec_time: 0.3365325927734375
[]

In [ ]:
# 3-9-2023

In [6]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Local Tech and Data Sec'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['LNOWAK']),('E','G',999.99,['SBRAR']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['62505']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03705716133117676
'168A','Local Tech and Data Sec',0,'168B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('168A','Local Tech and Data Sec',0,'168B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.09041643142700195
None
'168A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07392263412475586
None
'168A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06985020637512207
None
'168A', 1, 'REQG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', ''
'168A', 2, 'CORG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('168A', 1, 'REQG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0705723762512207
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('168A', 2, 'CORG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06989192962646484
None
'168B','Local Tech and Data Sec',0.01,'168E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('168B','Local Tech and Data Sec',0.01,'168E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07000851631164551
None
'168B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06940889358520508
None
'168E','Local Tech and Data Sec',999.99,'168G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('168E','Local Tech and Data Sec',999.99,'168G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06989574432373047
None
'168E', 'SBRAR', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168E', 'SBRAR', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06956696510314941
None
'168G','Local Tech and Data Sec',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('168G','Local Tech and Data Sec',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06900620460510254
None
'168G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07144021987915039
None
'B168','Local Tech and Data Sec',0,'168E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B168','Local Tech and Data Sec',0,'168E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07017159461975098
None
'B168', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B168', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07013440132141113
None
'B168', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B168', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07044839859008789
None
'B168', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B168', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07299637794494629
None
'B168', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B168', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07049012184143066
None
'B168', 20, 'DBRG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B168', 20, 'DBRG', 'A', '', '', '62505', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07035017013549805
None

In [7]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Zero Textbook Cost'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','G',999.99,['KMITCHELL18']),('G','VPAS',4999.99,['SMILLER66'])]
orgns_to_route = ['62501']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.0340878963470459
'169A','Zero Textbook Cost',0,'169B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('169A','Zero Textbook Cost',0,'169B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0709686279296875
None
'169A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('169A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0676736831665039
None
'169A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('169A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06745004653930664
None
'169A', 1, 'REQG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', ''
'169A', 2, 'CORG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('169A', 1, 'REQG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.10391688346862793
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('169A', 2, 'CORG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.09949493408203125
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
'169B','Zero Textbook Cost',0.01,'169E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('169B','Zero Textbook Cost',0.01,'169E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06886792182922363
None
'169B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('169B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06804084777832031
None
'169E','Zero Textbook Cost',999.99,'169G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('169E','Zero Textbook Cost',999.99,'169G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06996560096740723
None
'169E', 'KMITCHELL18', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('169E', 'KMITCHELL18', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06893372535705566
None
'169G','Zero Textbook Cost',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('169G','Zero Textbook Cost',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07008790969848633
None
'169G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('169G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06894326210021973
None
'B169','Zero Textbook Cost',0,'169E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B169','Zero Textbook Cost',0,'169E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06904387474060059
None
'B169', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B169', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06880331039428711
None
'B169', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B169', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07002854347229004
None
'B169', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B169', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06906461715698242
None
'B169', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B169', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06890320777893066
None
'B169', 20, 'DBRG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B169', 20, 'DBRG', 'A', '', '', '62501', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.09884262084960938
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated

In [8]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Wide Tech and Data Sec'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['LNOWAK']),('E','G',999.99,['SBRAR']),('G','VPAS',4999.99,['SBRAR'])]
orgns_to_route = ['62400']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.033087968826293945
'170A','Wide Tech and Data Sec',0,'170B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('170A','Wide Tech and Data Sec',0,'170B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06799793243408203
None
'170A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06985592842102051
None
'170A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0727694034576416
None
'170A', 1, 'REQG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', ''
'170A', 2, 'CORG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('170A', 1, 'REQG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06842517852783203
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('170A', 2, 'CORG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06809663772583008
None
'170B','Wide Tech and Data Sec',0.01,'170E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('170B','Wide Tech and Data Sec',0.01,'170E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06994938850402832
None
'170B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06998968124389648
None
'170E','Wide Tech and Data Sec',999.99,'170G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('170E','Wide Tech and Data Sec',999.99,'170G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0690608024597168
None
'170E', 'SBRAR', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170E', 'SBRAR', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06838035583496094
None
'170G','Wide Tech and Data Sec',4999.99,'VPAS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('170G','Wide Tech and Data Sec',4999.99,'VPAS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06906008720397949
None
'170G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170G', 'SBRAR', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0700232982635498
None
'B170','Wide Tech and Data Sec',0,'170E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B170','Wide Tech and Data Sec',0,'170E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06998014450073242
None
'B170', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B170', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06933379173278809
None
'B170', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B170', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07108378410339355
None
'B170', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B170', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07082724571228027
None
'B170', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B170', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07180953025817871
None
'B170', 20, 'DBRG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B170', 20, 'DBRG', 'A', '', '', '62400', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0719306468963623
None

In [9]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'NextUp'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','F',999.99,['RBROWNELIZE']),('F','G',999.99,['LTRIMBLE']),('G','EXBS',4999.99,['SMILLER66'])]
orgns_to_route = ['62506']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03399801254272461
'171A','NextUp',0,'171B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('171A','NextUp',0,'171B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07099032402038574
None
'171A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06897902488708496
None
'171A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06900835037231445
None
'171A', 1, 'REQG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', ''
'171A', 2, 'CORG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('171A', 1, 'REQG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.0696253776550293
None
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('171A', 2, 'CORG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.07026863098144531
None
'171B','NextUp',0.01,'171E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('171B','NextUp',0.01,'171E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07033538818359375
None
'171B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06920981407165527
None
'171E','NextUp',999.99,'171F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('171E','NextUp',999.99,'171F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07110071182250977
None
'171E', 'RBROWNELIZE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171E', 'RBROWNELIZE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06887030601501465
None
'171F','NextUp',999.99,'171G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('171F','NextUp',999.99,'171G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06929850578308105
None
'171F', 'LTRIMBLE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171F', 'LTRIMBLE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07039237022399902
None
'171G','NextUp',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('171G','NextUp',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06979870796203613
None
'171G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('171G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07069015502929688
None
'B171','NextUp',0,'171E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B171','NextUp',0,'171E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07022476196289062
None
'B171', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B171', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07190132141113281
None
'B171', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B171', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0721745491027832
None
'B171', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B171', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06990337371826172
None
'B171', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B171', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0703282356262207
None
'B171', 20, 'DBRG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B171', 20, 'DBRG', 'A', '', '', '62506', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.06862616539001465
None

In [10]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Emerg Finan Asstc Suppl'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','F',999.99,['NWILLIAMS']),('F','G',999.99,['LTRIMBLE']),('G','EXBS',4999.99,['SMILLER66'])]
orgns_to_route = ['62503']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

select  max(to_number(substr(FTVAPPQ_QUEUE_ID,0,3))) from FTVAPPQ where substr(FTVAPPQ_QUEUE_ID,0,1) in ('0','1','2','3','4','5','6','7','8','9')
execute_sql_query  exec_time: 0.03309035301208496
'172A','Emerg Finan Asstc Suppl',0,'172B', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('172A','Emerg Finan Asstc Suppl',0,'172B', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07105422019958496
None
'172A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172A', 'AMUSIAL1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07046818733215332
None
'172A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172A', 'EOBRIEN3', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07085227966308594
None
'172A', 1, 'REQG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
'172A', 2, 'CORG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('172A', 1, 'REQG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.09972620010375977
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('172A', 2, 'CORG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.10146212577819824
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated
'172B','Emerg Finan Asstc Suppl',0.01,'172E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('172B','Emerg Finan Asstc Suppl',0.01,'172E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07052326202392578
None
'172B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172B', 'BJESTER1', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07477879524230957
None
'172E','Emerg Finan Asstc Suppl',999.99,'172F', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('172E','Emerg Finan Asstc Suppl',999.99,'172F', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0711362361907959
None
'172E', 'NWILLIAMS', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172E', 'NWILLIAMS', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.08351278305053711
None
'172F','Emerg Finan Asstc Suppl',999.99,'172G', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('172F','Emerg Finan Asstc Suppl',999.99,'172G', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0729985237121582
None
'172F', 'LTRIMBLE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172F', 'LTRIMBLE', 10, 999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07300066947937012
None
'172G','Emerg Finan Asstc Suppl',4999.99,'EXBS', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('172G','Emerg Finan Asstc Suppl',4999.99,'EXBS', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0709986686706543
None
'172G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('172G', 'SMILLER66', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06827545166015625
None
'B172','Emerg Finan Asstc Suppl',0,'172E', null, sysdate, 'RWALDEN'
insert into FTVAPPQ(FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID) values('B172','Emerg Finan Asstc Suppl',0,'172E', null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.06812620162963867
None
'B172', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B172', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0689997673034668
None
'B172', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B172', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.0703580379486084
None
'B172', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B172', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07199883460998535
None
'B172', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B172', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN')
execute_sql_insert  exec_time: 0.07031583786010742
None
'B172', 20, 'DBRG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', ''
insert into FORAQRC(FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE)  values('B172', 20, 'DBRG', 'A', '', '', '62503', '', '', sysdate, 'RWALDEN', '')
execute_sql_insert  exec_time: 0.10323262214660645
ORA-00001: unique constraint (FIMSMGR.FORAQRC_KEY_INDEX) violated

# Bilkesha Resignation

With the exception of the attached ORGS (for Measure AV and Scheduled Maintenance), please replace Bilkeyshia with Lisa Nowak and Karen Janiszewski.
For the attached ORGS (Measure AV and Scheduled Maintenance), please replace Bilkeyshia with Una Goff and Tammara Steffes.

In [7]:
# List current approver queues
x, y = working_session.get_approvers_queues('BJESTER1')
print(x, y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.09909677505493164
BJESTER1 ['001B', '003B', '006B', '022B', '023B', '025B', '027B', '030B', '031B', '032B', '035B', '038B', '041B', '042B', '045B', '048B', '049B', '050B', '060B', '061B', '062B', '063B', '064B', '066B', '067B', '068B', '076B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '086B', '087B', '088B', '089B', '091B', '092B', '094B', '095B', '096B', '097B', '099B', '100B', '101B', '102B', '103B', '105B', '107B', '108B', '110B', '113B', '114B', '116B', '117B', '118B', '124B', '128B', '130B', '131B', '132B', '133B', '134B', '141B', '143B', '144B', '144E', '144E', '145B', '146B', '149B', '151B', '152B', '153B', '154B', '155B', '156B', '157B', '158B', '159B', '160B', '161B', '162B', '167B', '169B', '171B', '172B', 'B001', 'B003', 'B006', 'B022', 'B023', 'B025', 'B027', 'B030', 'B031', 'B032', 'B035', 'B038', 'B040', 'B041', 'B042', 'B045', 'B048', 'B049', 'B050', 'B060', 'B061', 'B063', 'B064', 'B066', 'B067', 'B068', 'B076', 'B077', 'B078', 'B079', 'B080', 'B081', 'B081', 'B082', 'B082', 'B083', 'B084', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B095', 'B095', 'B096', 'B097', 'B099', 'B100', 'B101', 'B102', 'B103', 'B105', 'B107', 'B108', 'B110', 'B110', 'B113', 'B114', 'B116', 'B117', 'B118', 'B118', 'B124', 'B128', 'B130', 'B130', 'B131', 'B132', 'B133', 'B133', 'B134', 'B135', 'B141', 'B143', 'B144', 'B145', 'B146', 'B149', 'B150', 'B151', 'B152', 'B153', 'B154', 'B155', 'B156', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162', 'B167', 'B168', 'B169', 'B170', 'B171', 'B172', 'INVQ']

In [ ]:


x = working_session.set_proxy_approver('AMUSIAL1', 'RWALDEN', '22-AUG-5', '22-AUG-15')
#x = working_session.replace_approver('BJESTER1', 'RWALDEN', ('CAQ', 'INVQ', 'JVQ', 'NSF')) # Only in the listed queues

In [ ]:
# 'KJANISZEWSKI','UGOFF', 'BJESTER1', 'LNOWAK', 'TSTEFFES'

In [ ]:

# ReList current approver queues
x, y = working_session.get_approvers_queues('BJESTER1')
print(x, y)

In [8]:

x = working_session.add_approver('LNOWAK', to_queues = ('001B', '003B', '006B', '022B', '023B', '025B', '030B', '031B', '032B', '035B', '038B', '041B', '042B', '045B', '048B', '049B', '050B', '060B', '061B', '062B', '063B', '064B', '066B', '067B', '068B', '076B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '086B', '087B', '088B', '089B', '091B', '092B', '094B', '095B', '096B', '097B', '099B', '100B', '101B', '102B', '103B', '105B', '107B', '108B', '110B', '113B', '114B', '116B', '117B', '118B', '124B', '128B', '130B', '131B', '132B', '133B', '141B', '143B', '144B', '144E', '144E', '145B', '146B', '149B', '151B', '152B', '167B', '169B', '171B', '172B', 'B001', 'B003', 'B006', 'B022', 'B023', 'B025', 'B030', 'B031', 'B032', 'B035', 'B038', 'B040', 'B041', 'B042', 'B045', 'B048', 'B049', 'B050', 'B060', 'B061', 'B063', 'B064', 'B066', 'B067', 'B068', 'B076', 'B077', 'B078', 'B079', 'B080', 'B081', 'B081', 'B082', 'B082', 'B083', 'B084', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B095', 'B095', 'B096', 'B097', 'B099', 'B100', 'B101', 'B102', 'B103', 'B105', 'B107', 'B108', 'B110', 'B110', 'B113', 'B114', 'B116', 'B117', 'B118', 'B118', 'B124', 'B128', 'B130', 'B130', 'B131', 'B132', 'B133', 'B135', 'B141', 'B143', 'B144', 'B145', 'B146', 'B149', 'B150', 'B151', 'B152', 'B167', 'B168', 'B169', 'B170', 'B171', 'B172'))

x = working_session.add_approver('KJANISZEWSKI', to_queues = ('001B', '003B', '006B', '022B', '023B', '025B', '030B', '031B', '032B', '035B', '038B', '041B', '042B', '045B', '048B', '049B', '050B', '060B', '061B', '062B', '063B', '064B', '066B', '067B', '068B', '076B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '086B', '087B', '088B', '089B', '091B', '092B', '094B', '095B', '096B', '097B', '099B', '100B', '101B', '102B', '103B', '105B', '107B', '108B', '110B', '113B', '114B', '116B', '117B', '118B', '124B', '128B', '130B', '131B', '132B', '133B', '141B', '143B', '144B', '144E', '144E', '145B', '146B', '149B', '151B', '152B', '167B', '169B', '171B', '172B', 'B001', 'B003', 'B006', 'B022', 'B023', 'B025', 'B030', 'B031', 'B032', 'B035', 'B038', 'B040', 'B041', 'B042', 'B045', 'B048', 'B049', 'B050', 'B060', 'B061', 'B063', 'B064', 'B066', 'B067', 'B068', 'B076', 'B077', 'B078', 'B079', 'B080', 'B081', 'B081', 'B082', 'B082', 'B083', 'B084', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B095', 'B095', 'B096', 'B097', 'B099', 'B100', 'B101', 'B102', 'B103', 'B105', 'B107', 'B108', 'B110', 'B110', 'B113', 'B114', 'B116', 'B117', 'B118', 'B118', 'B124', 'B128', 'B130', 'B130', 'B131', 'B132', 'B133', 'B135', 'B141', 'B143', 'B144', 'B145', 'B146', 'B149', 'B150', 'B151', 'B152', 'B167', 'B168', 'B169', 'B170', 'B171', 'B172'))

001B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('001B')
execute_sql_query  exec_time: 0.06401252746582031
001B BJESTER1 10 0.01 2022-10-20 16:36:45 None None
'001B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('001B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06748414039611816
None
003B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('003B')
execute_sql_query  exec_time: 0.06260085105895996
003B BJESTER1 10 0.01 2019-09-17 11:55:58 None None
'003B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06398439407348633
None
006B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('006B')
execute_sql_query  exec_time: 0.06401562690734863
006B BJESTER1 10 0.01 2022-07-27 10:15:28 None None
'006B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('006B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399846076965332
None
022B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('022B')
execute_sql_query  exec_time: 0.06405186653137207
022B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'022B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06401634216308594
None
023B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('023B')
execute_sql_query  exec_time: 0.06309318542480469
023B BJESTER1 10 0.01 2021-02-05 10:43:01 2022-10-26 00:00:00 None
'023B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0634000301361084
None
025B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('025B')
execute_sql_query  exec_time: 0.06399965286254883
025B BJESTER1 10 0.01 2020-09-17 09:56:52 None None
'025B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06342887878417969
None
030B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('030B')
execute_sql_query  exec_time: 0.06343793869018555
030B BJESTER1 10 0.01 2022-07-27 10:17:07 None None
'030B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('030B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06410050392150879
None
031B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('031B')
execute_sql_query  exec_time: 0.06266951560974121
031B BJESTER1 10 0.01 2022-10-27 10:33:13 None None
'031B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('031B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06401395797729492
None
032B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('032B')
execute_sql_query  exec_time: 0.06396698951721191
032B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'032B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('032B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400060653686523
None
035B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('035B')
execute_sql_query  exec_time: 0.06299972534179688
035B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'035B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('035B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06342411041259766
None
038B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('038B')
execute_sql_query  exec_time: 0.06299710273742676
038B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'038B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('038B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06451582908630371
None
041B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('041B')
execute_sql_query  exec_time: 0.06399965286254883
041B BJESTER1 10 0.01 2022-07-27 10:25:33 None None
'041B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('041B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06412553787231445
None
042B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('042B')
execute_sql_query  exec_time: 0.06299710273742676
042B BJESTER1 10 0.01 2022-08-25 15:20:28 None None
'042B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('042B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06600093841552734
None
045B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('045B')
execute_sql_query  exec_time: 0.06334662437438965
045B BJESTER1 10 0.01 2022-08-25 15:18:14 None None
'045B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('045B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06371402740478516
None
048B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('048B')
execute_sql_query  exec_time: 0.06500053405761719
048B BJESTER1 10 0.01 2022-10-27 10:49:28 None None
'048B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('048B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400012969970703
None
049B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('049B')
execute_sql_query  exec_time: 0.06299734115600586
049B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'049B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('049B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06406378746032715
None
050B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('050B')
execute_sql_query  exec_time: 0.06334638595581055
050B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'050B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('050B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400275230407715
None
060B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('060B')
execute_sql_query  exec_time: 0.06258511543273926
060B BJESTER1 10 0.0 2022-10-27 14:24:26 None None
'060B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('060B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399846076965332
None
061B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('061B')
execute_sql_query  exec_time: 0.0634152889251709
061B BJESTER1 10 0.0 2022-10-27 14:24:27 None None
'061B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('061B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0643301010131836
None
062B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('062B')
execute_sql_query  exec_time: 0.06300067901611328
062B BJESTER1 10 0.0 2022-10-27 14:24:27 None None
'062B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('062B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06328535079956055
None
063B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('063B')
execute_sql_query  exec_time: 0.06300163269042969
063B BJESTER1 10 0.0 2022-10-27 14:24:27 None None
'063B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('063B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399774551391602
None
064B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('064B')
execute_sql_query  exec_time: 0.06299901008605957
064B BJESTER1 10 0.0 2022-10-27 14:24:27 None None
'064B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('064B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400036811828613
None
066B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('066B')
execute_sql_query  exec_time: 0.06401491165161133
066B BJESTER1 10 0.01 2022-10-27 10:59:36 None None
'066B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('066B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06498026847839355
None
067B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('067B')
execute_sql_query  exec_time: 0.0629873275756836
067B BJESTER1 10 0.01 2022-10-27 11:00:14 None None
'067B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('067B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06469917297363281
None
068B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('068B')
execute_sql_query  exec_time: 0.0637660026550293
068B BJESTER1 10 0.0 2022-10-27 14:24:27 None None
'068B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('068B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06557941436767578
None
076B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('076B')
execute_sql_query  exec_time: 0.06479883193969727
076B BJESTER1 10 0.01 2022-08-03 16:37:08 None None
'076B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('076B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06620621681213379
None
077B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('077B')
execute_sql_query  exec_time: 0.0642704963684082
077B BJESTER1 10 0.01 2022-07-27 10:19:39 None None
'077B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('077B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07108879089355469
None
078B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('078B')
execute_sql_query  exec_time: 0.06478095054626465
078B BJESTER1 10 0.0 2022-10-26 09:47:47 None None
'078B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('078B', 'LNOWAK', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06532120704650879
None
079B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('079B')
execute_sql_query  exec_time: 0.06380248069763184
079B BJESTER1 10 0.01 2022-08-03 16:35:03 None None
'079B', 'LNOWAK', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'

In [7]:

x = working_session.add_approver('UGOFF', to_queues = ('027B', '134B','153B', '154B', '155B', '156B', '157B', '158B', '159B', '160B', '161B', '162B', 'B027', 'B134', 'B153', 'B154', 'B155', 'B156', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162'))

x = working_session.add_approver('TSTEFFES', to_queues = ('027B', '134B','153B', '154B', '155B', '156B', '157B', '158B', '159B', '160B', '161B', '162B', 'B027', 'B134', 'B153', 'B154', 'B155', 'B156', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162'))

027B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('027B')
execute_sql_query  exec_time: 0.06504607200622559
027B SMILLER66 10 0.01 2017-06-06 10:31:58 2017-10-10 13:41:53 None
'027B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07902121543884277
None
134B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('134B')
execute_sql_query  exec_time: 0.06383085250854492
134B BJESTER1 10 0.01 2022-01-14 07:59:21 None None
'134B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06627583503723145
None
153B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('153B')
execute_sql_query  exec_time: 0.06304001808166504
153B BJESTER1 10 0.01 2022-12-05 09:06:55 None None
'153B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06632614135742188
None
154B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('154B')
execute_sql_query  exec_time: 0.06479263305664062
154B BJESTER1 10 0.01 2022-12-05 09:25:14 None None
'154B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06675052642822266
None
155B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('155B')
execute_sql_query  exec_time: 0.06381940841674805
155B BJESTER1 10 0.01 2022-12-05 09:25:17 None None
'155B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06671309471130371
None
156B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('156B')
execute_sql_query  exec_time: 0.0655374526977539
156B BJESTER1 10 0.01 2022-12-05 09:25:20 None None
'156B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06762218475341797
None
157B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('157B')
execute_sql_query  exec_time: 0.06437134742736816
157B BJESTER1 10 0.01 2022-12-05 09:25:22 None None
'157B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06636285781860352
None
158B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('158B')
execute_sql_query  exec_time: 0.07141923904418945
158B BJESTER1 10 0.01 2022-12-05 09:25:52 None None
'158B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06573724746704102
None
159B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('159B')
execute_sql_query  exec_time: 0.06435441970825195
159B BJESTER1 10 0.01 2022-12-05 09:25:54 None None
'159B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06460285186767578
None
160B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('160B')
execute_sql_query  exec_time: 0.06304764747619629
160B BJESTER1 10 0.01 2022-12-05 09:25:56 None None
'160B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06496882438659668
None
161B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('161B')
execute_sql_query  exec_time: 0.06427192687988281
161B BJESTER1 10 0.01 2022-12-05 09:25:58 None None
'161B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06487178802490234
None
162B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('162B')
execute_sql_query  exec_time: 0.06305527687072754
162B BJESTER1 10 0.01 2022-12-05 09:26:00 None None
'162B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162B', 'UGOFF', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400346755981445
None
B027
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B027')
execute_sql_query  exec_time: 0.0643606185913086
B027 BJESTER1 10 0.0 2019-09-09 13:00:02 None None
'B027', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B027', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06473207473754883
None
B134
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B134')
execute_sql_query  exec_time: 0.06338691711425781
B134 BJESTER1 10 0.0 2022-01-14 08:00:42 None None
'B134', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B134', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06473731994628906
None
B153
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B153')
execute_sql_query  exec_time: 0.06399655342102051
B153 BJESTER1 10 0.0 2022-12-05 09:06:56 None None
'B153', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B153', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06578683853149414
None
B154
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B154')
execute_sql_query  exec_time: 0.06424450874328613
B154 BJESTER1 10 0.0 2022-12-05 09:32:10 None None
'B154', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B154', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06450080871582031
None
B155
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B155')
execute_sql_query  exec_time: 0.06436800956726074
B155 BJESTER1 10 0.0 2022-12-05 09:32:27 None None
'B155', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B155', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06494688987731934
None
B156
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B156')
execute_sql_query  exec_time: 0.06443142890930176
B156 BJESTER1 10 0.0 2022-12-05 09:32:42 None None
'B156', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B156', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06555366516113281
None
B157
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B157')
execute_sql_query  exec_time: 0.06548547744750977
B157 BJESTER1 10 0.0 2022-12-05 09:32:59 None None
'B157', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B157', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0646364688873291
None
B158
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B158')
execute_sql_query  exec_time: 0.06450581550598145
B158 BJESTER1 10 0.0 2022-12-05 09:34:08 None None
'B158', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B158', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06654739379882812
None
B159
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B159')
execute_sql_query  exec_time: 0.06468582153320312
B159 BJESTER1 10 0.0 2022-12-05 09:34:25 None None
'B159', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B159', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06612801551818848
None
B160
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B160')
execute_sql_query  exec_time: 0.06556415557861328
B160 BJESTER1 10 0.0 2022-12-05 09:34:42 None None
'B160', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B160', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06699085235595703
None
B161
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B161')
execute_sql_query  exec_time: 0.06504392623901367
B161 BJESTER1 10 0.0 2022-12-05 09:35:04 None None
'B161', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B161', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06491804122924805
None
B162
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('B162')
execute_sql_query  exec_time: 0.06385922431945801
B162 BJESTER1 10 0.0 2022-12-05 09:35:21 None None
'B162', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B162', 'UGOFF', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0659475326538086
None
027B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('027B')
execute_sql_query  exec_time: 0.06371426582336426
027B SMILLER66 10 0.01 2017-06-06 10:31:58 2017-10-10 13:41:53 None
'027B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06421136856079102
None
134B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('134B')
execute_sql_query  exec_time: 0.06278228759765625
134B BJESTER1 10 0.01 2022-01-14 07:59:21 None None
'134B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06465768814086914
None
153B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('153B')
execute_sql_query  exec_time: 0.06387877464294434
153B BJESTER1 10 0.01 2022-12-05 09:06:55 None None
'153B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06598901748657227
None
154B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('154B')
execute_sql_query  exec_time: 0.0633230209350586
154B BJESTER1 10 0.01 2022-12-05 09:25:14 None None
'154B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0656733512878418
None
155B
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('155B')
execute_sql_query  exec_time: 0.06319737434387207
155B BJESTER1 10 0.01 2022-12-05 09:25:17 None None
'155B', 'TSTEFFES', 10, 0.01, sysdate, null, null, sysdate, 'RWALDEN'

In [9]:

x = working_session.term_approver('BJESTER1', '13-MAR-23')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.09568524360656738
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '003B'
execute_sql_update  exec_time: 0.07199954986572266
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400012969970703
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'INVQ'
execute_sql_update  exec_time: 0.06498432159423828
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('INVQ', 'BJESTER1', 10, 999999999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06303572654724121
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '027B'
execute_sql_update  exec_time: 0.06755232810974121
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06298136711120605
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B027'
execute_sql_update  exec_time: 0.0640871524810791
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B027', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06347012519836426
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B003'
execute_sql_update  exec_time: 0.06405878067016602
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B003', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0649559497833252
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '025B'
execute_sql_update  exec_time: 0.06408905982971191
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06405496597290039
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '099B'
execute_sql_update  exec_time: 0.06506705284118652
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('099B', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06302285194396973
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '006B'
execute_sql_update  exec_time: 0.06400132179260254
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('006B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06395745277404785
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B006'
execute_sql_update  exec_time: 0.07000732421875
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B006', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06354284286499023
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B030'
execute_sql_update  exec_time: 0.06537723541259766
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B030', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0640561580657959
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '030B'
execute_sql_update  exec_time: 0.06356453895568848
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('030B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06396675109863281
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '077B'
execute_sql_update  exec_time: 0.06403875350952148
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('077B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06400871276855469
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B077'
execute_sql_update  exec_time: 0.06399893760681152
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B077', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06706571578979492
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B083'
execute_sql_update  exec_time: 0.06387805938720703
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B083', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06554460525512695
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '083B'
execute_sql_update  exec_time: 0.06406283378601074
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('083B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06394100189208984
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B084'
execute_sql_update  exec_time: 0.06535959243774414
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B084', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0719907283782959
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '084B'
execute_sql_update  exec_time: 0.06525444984436035
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('084B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06490421295166016
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '041B'
execute_sql_update  exec_time: 0.06622433662414551
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('041B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06450223922729492
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B041'
execute_sql_update  exec_time: 0.06501030921936035
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B041', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06496930122375488
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B114'
execute_sql_update  exec_time: 0.06499934196472168
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B114', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06499910354614258
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '114B'
execute_sql_update  exec_time: 0.06420516967773438
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('114B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06499958038330078
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B099'
execute_sql_update  exec_time: 0.06499934196472168
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B099', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06499958038330078
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B124'
execute_sql_update  exec_time: 0.06699895858764648
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B124', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06416988372802734
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '124B'
execute_sql_update  exec_time: 0.06451416015625
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('124B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399965286254883
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B101'
execute_sql_update  exec_time: 0.06500005722045898
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B101', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06518959999084473
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '101B'
execute_sql_update  exec_time: 0.06599926948547363
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('101B', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06519436836242676
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '134B'
execute_sql_update  exec_time: 0.06499862670898438
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06426858901977539
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B134'
execute_sql_update  exec_time: 0.06599974632263184
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B134', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06442022323608398
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '141B'
execute_sql_update  exec_time: 0.06499838829040527
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('141B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0650026798248291
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '143B'
execute_sql_update  exec_time: 0.06599831581115723
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('143B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399798393249512
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B143'
execute_sql_update  exec_time: 0.0650327205657959
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B143', 'BJESTER1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06508231163024902
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '045B'
execute_sql_update  exec_time: 0.06457042694091797
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('045B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06512784957885742
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '117B'
execute_sql_update  exec_time: 0.06510663032531738
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('117B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06499695777893066
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '042B'
execute_sql_update  exec_time: 0.06430625915527344
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('042B', 'BJESTER1', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06416010856628418
None
update FORAQUS set FORAQUS_NCHG_DATE = '13-MAR-23' where FORAQUS_USER_ID_APPR = 'BJESTER1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '128B'
execute_sql_update  exec_time: 0.06499958038330078
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('128B', 'BJESTER1', 10, 0.02, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06351065635681152
None

In [10]:
x = working_session.search_for_mt_queues()
print(x)

select  distinct foraqus.FORAQUS_QUEUE_ID,
        (select count(FORAQUS_USER_ID_APPR)
        from foraqus fa
        where fa.FORAQUS_QUEUE_ID = foraqus.FORAQUS_QUEUE_ID
                                    and fa.FORAQUS_TERM_DATE is null
                                    and fa.FORAQUS_NCHG_DATE is null) as OtherApprovers from foraqus  order by 2
execute_sql_query  exec_time: 0.31919264793395996
[]

In [6]:
x,y = working_session.get_approvers_queues('JZELLET')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06604599952697754
JZELLET ['000G', '007G', '008G', '009G', '010G', '011G', '012G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '040G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '071G', '083E', '090G', '093G', '098G', '100G', '104G', '109G', '111G', '112G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G', 'PRES']

In [8]:
x = working_session.replace_approver('JZELLET', 'IREYES10', ('008G', '009G', '010G', '011G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '090G', '093G', '098G', '100G', '109G', '111G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G'))

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID in ('008G', '009G', '010G', '011G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '090G', '093G', '098G', '100G', '109G', '111G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G')
execute_sql_query  exec_time: 0.07665085792541504
008G JZELLET 10 4999.99 2023-02-28 16:37:59 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '008G'
execute_sql_update  exec_time: 0.07518577575683594
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06717848777770996
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06460762023925781
None
009G JZELLET 10 4999.99 2023-02-28 16:37:59 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '009G'
execute_sql_update  exec_time: 0.0658564567565918
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.065155029296875
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06425786018371582
None
010G JZELLET 10 4999.99 2023-02-28 16:37:59 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '010G'
execute_sql_update  exec_time: 0.06446647644042969
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06496882438659668
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06458115577697754
None
011G JZELLET 10 4999.99 2023-02-28 16:38:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '011G'
execute_sql_update  exec_time: 0.06513857841491699
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06319665908813477
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06584382057189941
None
013G JZELLET 10 4999.99 2023-02-28 16:38:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '013G'
execute_sql_update  exec_time: 0.06521725654602051
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06387877464294434
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06514167785644531
None
014G JZELLET 10 4999.99 2023-02-28 16:38:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '014G'
execute_sql_update  exec_time: 0.06441760063171387
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06385660171508789
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06719112396240234
None
015G JZELLET 10 4999.99 2023-02-28 16:38:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '015G'
execute_sql_update  exec_time: 0.06652259826660156
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06395268440246582
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06571245193481445
None
016G JZELLET 10 4999.99 2023-02-28 16:38:00 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '016G'
execute_sql_update  exec_time: 0.06479525566101074
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06389331817626953
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06562042236328125
None
017G JZELLET 10 4999.99 2023-02-28 16:38:01 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '017G'
execute_sql_update  exec_time: 0.06583547592163086
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0644693374633789
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0651857852935791
None
018G JZELLET 10 4999.99 2023-02-28 16:38:01 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '018G'
execute_sql_update  exec_time: 0.06671714782714844
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06591463088989258
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06510233879089355
None
019G JZELLET 10 4999.99 2023-02-28 16:38:01 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '019G'
execute_sql_update  exec_time: 0.06668639183044434
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06551837921142578
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06354784965515137
None
028G JZELLET 10 4999.99 2023-02-28 16:38:01 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '028G'
execute_sql_update  exec_time: 0.05477547645568848
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07546091079711914
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.060965776443481445
None
033G JZELLET 10 4999.99 2023-02-28 16:38:02 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '033G'
execute_sql_update  exec_time: 0.07119536399841309
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06556081771850586
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06613039970397949
None
142G JZELLET 10 4999.99 2023-02-28 16:38:02 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '142G'
execute_sql_update  exec_time: 0.06052994728088379
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('142G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06973814964294434
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('142G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06758236885070801
None
034G JZELLET 10 4999.99 2023-02-28 16:38:02 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '034G'
execute_sql_update  exec_time: 0.06592059135437012
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('034G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06599807739257812
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('034G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06617331504821777
None
036G JZELLET 10 4999.99 2023-02-28 16:38:02 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '036G'
execute_sql_update  exec_time: 0.06584906578063965
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('036G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06580924987792969
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('036G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0655057430267334
None
051G JZELLET 10 4999.99 2023-02-28 16:38:02 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '051G'
execute_sql_update  exec_time: 0.06688261032104492
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('051G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06507396697998047
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('051G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06684112548828125
None
052G JZELLET 10 4999.99 2023-02-28 16:38:03 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '052G'
execute_sql_update  exec_time: 0.06767749786376953
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('052G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07164716720581055
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('052G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06700682640075684
None
053G JZELLET 10 4999.99 2023-02-28 16:38:03 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '053G'
execute_sql_update  exec_time: 0.06569194793701172
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('053G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06841087341308594
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('053G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06676340103149414
None
054G JZELLET 10 4999.99 2023-02-28 16:38:03 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '054G'
execute_sql_update  exec_time: 0.06724095344543457
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('054G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06646275520324707
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('054G', 'IREYES10', 10, 4999.99, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06556224822998047
None
055G JZELLET 10 4999.99 2023-02-28 16:38:03 None None
update FORAQUS set FORAQUS_NCHG_DATE = sysdate where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '055G'
execute_sql_update  exec_time: 0.06585884094238281
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('055G', 'JZELLET', 10, 4999.99, sysdate, null, sysdate, sysdate, 'RWALDEN' )

In [9]:
x,y = working_session.get_approvers_queues('IREYES10')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'IREYES10' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06272268295288086
IREYES10 ['008G', '009G', '010G', '011G', '013G', '014G', '015G', '016G', '017G', '018G', '019G', '028G', '033G', '034G', '036G', '051G', '052G', '053G', '054G', '055G', '058G', '063G', '064G', '065G', '090G', '093G', '098G', '100G', '109G', '111G', '116G', '120G', '122G', '126G', '127G', '129G', '131G', '142G', '164G', '166G']

In [6]:
# add_approver(new_approver, to_queues=())
x = working_session.add_approver('PVIRGIL', to_queues = ('000A','001A', '002A', '003A', '004A', '005A', '006A', '007A', '008A', '009A', '010A', '011A', '012A', '013A', '014A', '015A', '016A', '017A', '018A', '019A', '020A', '021A', '022A', '023A', '024A', '025A', '026A', '027A', '028A', '029A', '030A', '031A', '032A', '033A', '034A', '035A', '036A', '037A', '038A', '039A', '040A', '041A', '042A', '043A', '044A', '045A', '046A', '047A', '048A', '049A', '050A', '051A', '052A', '053A', '054A', '055A', '056A', '057A', '058A', '059A', '060A', '061A', '062A', '063A', '064A', '065A', '066A', '067A', '068A', '069A', '070A', '071A', '072A', '073A', '074A', '075A', '076A', '077A', '078A', '079A', '080A', '081A', '082A', '083A', '084A', '085A', '086A', '087A', '088A', '089A', '090A', '091A', '092A', '093A', '094A', '095A', '096A', '097A', '098A', '099A', '100A', '101A', '102A', '103A', '104A', '105A', '106A', '107A', '108A', '109A', '110A', '111A', '112A', '113A', '114A', '115A', '116A', '117A', '118A', '119A', '120A', '121A', '122A', '123A', '124A', '125A', '126A', '127A', '128A', '129A', '130A', '131A', '132A', '133A', '134A', '135A', '136A', '137A', '138A', '139A', '140A', '141A', '142A', '143A', '144A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '152A', '153A', '154A', '155A', '156A', '157A', '158A', '159A', '160A', '161A', '162A', '163A', '164A', '165A', '166A', '167A', '168A', '169A', '170A', '171A', '172A'))

000A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('000A')
execute_sql_query  exec_time: 0.06736636161804199
000A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'000A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('000A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08049702644348145
None
001A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('001A')
execute_sql_query  exec_time: 0.06436419486999512
001A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'001A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('001A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06568479537963867
None
002A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('002A')
execute_sql_query  exec_time: 0.06345605850219727
002A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'002A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('002A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06402778625488281
None
003A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('003A')
execute_sql_query  exec_time: 0.06583571434020996
003A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'003A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06584429740905762
None
004A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('004A')
execute_sql_query  exec_time: 0.06458926200866699
004A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'004A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('004A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06447792053222656
None
005A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('005A')
execute_sql_query  exec_time: 0.06280708312988281
005A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'005A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('005A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06558680534362793
None
006A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('006A')
execute_sql_query  exec_time: 0.06504440307617188
006A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'006A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('006A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06638884544372559
None
007A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('007A')
execute_sql_query  exec_time: 0.06479573249816895
007A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'007A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('007A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0669395923614502
None
008A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('008A')
execute_sql_query  exec_time: 0.06535959243774414
008A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'008A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06625962257385254
None
009A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('009A')
execute_sql_query  exec_time: 0.06610822677612305
009A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'009A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06667900085449219
None
010A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('010A')
execute_sql_query  exec_time: 0.06535720825195312
010A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'010A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06463074684143066
None
011A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('011A')
execute_sql_query  exec_time: 0.0660090446472168
011A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'011A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06556963920593262
None
012A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('012A')
execute_sql_query  exec_time: 0.06501388549804688
012A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'012A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('012A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06565022468566895
None
013A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('013A')
execute_sql_query  exec_time: 0.06552529335021973
013A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'013A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06792116165161133
None
014A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('014A')
execute_sql_query  exec_time: 0.06475377082824707
014A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'014A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06757164001464844
None
015A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('015A')
execute_sql_query  exec_time: 0.06576156616210938
015A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'015A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0666968822479248
None
016A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('016A')
execute_sql_query  exec_time: 0.06524300575256348
016A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'016A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06505775451660156
None
017A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('017A')
execute_sql_query  exec_time: 0.06562209129333496
017A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'017A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06429791450500488
None
018A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('018A')
execute_sql_query  exec_time: 0.06391072273254395
018A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'018A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06548476219177246
None
019A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('019A')
execute_sql_query  exec_time: 0.06531000137329102
019A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'019A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06800723075866699
None
020A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('020A')
execute_sql_query  exec_time: 0.06548738479614258
020A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'020A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('020A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06849503517150879
None
021A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('021A')
execute_sql_query  exec_time: 0.06547188758850098
021A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'021A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('021A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06544327735900879
None
022A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('022A')
execute_sql_query  exec_time: 0.0647127628326416
022A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'022A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06614899635314941
None
023A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('023A')
execute_sql_query  exec_time: 0.06571817398071289
023A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'023A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06702613830566406
None
024A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('024A')
execute_sql_query  exec_time: 0.0651099681854248
024A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'024A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06647181510925293
None
025A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('025A')
execute_sql_query  exec_time: 0.06583571434020996
025A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'025A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06784725189208984
None
026A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('026A')
execute_sql_query  exec_time: 0.06415867805480957
026A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'026A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('026A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06422948837280273
None
027A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('027A')
execute_sql_query  exec_time: 0.06469154357910156
027A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'027A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06548571586608887
None
028A
select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_QUEUE_ID in ('028A')
execute_sql_query  exec_time: 0.06313133239746094
028A AMUSIAL1 10 0.0 1999-07-01 00:00:00 None None
'028A', 'PVIRGIL', 10, 0.0, sysdate, null, null, sysdate, 'RWALDEN'

Hi Nick,

Please allow this email to serve as authorization for me to approve requisitions in Banner on behalf of President Zellet through Thursday, 4/20/2023.

Thank you,

Shami

In [7]:
x = working_session.set_proxy_approver('JZELLET', 'SBRAR', '19-APR-23', '21-APR-23')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'JZELLET' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.0638115406036377
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('PRES', 'SBRAR', 10, 999999999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06778740882873535
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('000G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06722283363342285
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('007G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06372833251953125
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('040G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06682920455932617
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('071G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0644371509552002
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('083E', 'SBRAR', 10, 0.04, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06633710861206055
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('104G', 'SBRAR', 10, 999999999.0, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0761265754699707
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('012G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06684327125549316
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('112G', 'SBRAR', 10, 4999.99, '19-APR-23', null, '21-APR-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06423807144165039
None

In [6]:
x = working_session.set_proxy_approver('SBRAR', 'TSTEFFES', '16-MAY-23', '19-MAY-23')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'SBRAR' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.06370973587036133
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('021G', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07777929306030273
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('VPAS', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07503914833068848
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('148E', 'TSTEFFES', 10, 0.03, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06300902366638184
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022E', 'TSTEFFES', 10, 0.04, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07213592529296875
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023E', 'TSTEFFES', 10, 0.04, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05960440635681152
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025G', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07883810997009277
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024G', 'TSTEFFES', 9, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06484341621398926
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('089C', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06444597244262695
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('134G', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0680234432220459
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('145G', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0630044937133789
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('153G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07939887046813965
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('154G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06359648704528809
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('155G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07231736183166504
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('156G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05404996871948242
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('157G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07888436317443848
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('158G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06748533248901367
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('159G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05899477005004883
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('160G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06395983695983887
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('161G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08067440986633301
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('162G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06261277198791504
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('137G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06339216232299805
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027G', 'TSTEFFES', 10, 0.05, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07032275199890137
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168E', 'TSTEFFES', 10, 999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07863640785217285
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('168G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06838202476501465
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170E', 'TSTEFFES', 10, 999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05842709541320801
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('170G', 'TSTEFFES', 10, 4999.99, '16-MAY-23', null, '19-MAY-23', sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07825994491577148
None

In [7]:
x,y = working_session.get_approvers_queues('TSTEFFES')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'TSTEFFES' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06695771217346191
TSTEFFES ['027B', '134B', '137E', '138E', '139G', '153B', '154B', '155B', '156B', '157B', '158B', '159B', '160B', '161B', '162B', 'B027', 'B134', 'B153', 'B154', 'B155', 'B156', 'B157', 'B158', 'B159', 'B160', 'B161', 'B162', 'INVQ', 'JVQ', 'NSF']

In [8]:
x,y = working_session.get_approvers_queues('SBRAR')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'SBRAR' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.07350826263427734
SBRAR ['021G', '022E', '023E', '024G', '025G', '027G', '089C', '134G', '137G', '145G', '148E', '153G', '154G', '155G', '156G', '157G', '158G', '159G', '160G', '161G', '162G', '168E', '168G', '170E', '170G', 'VPAS']

In [7]:
x,y = working_session.get_approvers_queues('AMUSIAL1')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.09495902061462402
AMUSIAL1 ['000A', '001A', '002A', '003A', '004A', '005A', '006A', '007A', '008A', '009A', '010A', '011A', '012A', '013A', '014A', '015A', '016A', '017A', '018A', '019A', '020A', '021A', '022A', '023A', '024A', '025A', '026A', '027A', '028A', '029A', '030A', '031A', '032A', '033A', '034A', '035A', '036A', '037A', '038A', '039A', '040A', '041A', '042A', '043A', '044A', '045A', '046A', '047A', '048A', '049A', '050A', '051A', '052A', '053A', '054A', '055A', '056A', '057A', '058A', '059A', '060A', '061A', '062A', '063A', '064A', '065A', '066A', '067A', '068A', '069A', '070A', '071A', '072A', '073A', '074A', '075A', '076A', '077A', '078A', '079A', '080A', '081A', '082A', '083A', '084A', '085A', '086A', '087A', '088A', '089A', '090A', '091A', '092A', '093A', '094A', '095A', '096A', '097A', '098A', '099A', '100A', '101A', '102A', '103A', '104A', '105A', '106A', '107A', '108A', '109A', '110A', '111A', '112A', '113A', '114A', '115A', '116A', '117A', '118A', '119A', '120A', '121A', '122A', '123A', '124A', '125A', '126A', '127A', '128A', '129A', '130A', '131A', '132A', '133A', '134A', '135A', '136A', '137A', '138A', '139A', '139G', '140A', '141A', '142A', '143A', '144A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '152A', '153A', '154A', '155A', '156A', '157A', '158A', '159A', '160A', '161A', '162A', '163A', '164A', '165A', '166A', '167A', '168A', '169A', '170A', '171A', '172A']

In [8]:
x = working_session.term_approver('AMUSIAL1', '5-JUN-23')

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null
execute_sql_query  exec_time: 0.09427118301391602
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '089A'
execute_sql_update  exec_time: 0.0810084342956543
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('089A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07074451446533203
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '101A'
execute_sql_update  exec_time: 0.06747078895568848
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('101A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06607890129089355
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '102A'
execute_sql_update  exec_time: 0.07196235656738281
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('102A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07398319244384766
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '105A'
execute_sql_update  exec_time: 0.0651249885559082
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('105A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06503677368164062
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '106A'
execute_sql_update  exec_time: 0.0648658275604248
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('106A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06702804565429688
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '100A'
execute_sql_update  exec_time: 0.06496930122375488
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('100A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06511211395263672
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '094A'
execute_sql_update  exec_time: 0.0940084457397461
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('094A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08908629417419434
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '099A'
execute_sql_update  exec_time: 0.07603192329406738
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('099A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07774591445922852
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '086A'
execute_sql_update  exec_time: 0.07804632186889648
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('086A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06758618354797363
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '087A'
execute_sql_update  exec_time: 0.06502461433410645
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('087A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0653679370880127
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '053A'
execute_sql_update  exec_time: 0.0661172866821289
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('053A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06655430793762207
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '054A'
execute_sql_update  exec_time: 0.06443095207214355
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('054A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06418991088867188
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '055A'
execute_sql_update  exec_time: 0.06399774551391602
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('055A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06343293190002441
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '056A'
execute_sql_update  exec_time: 0.06399750709533691
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('056A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06399822235107422
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '057A'
execute_sql_update  exec_time: 0.06299924850463867
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('057A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0632638931274414
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '058A'
execute_sql_update  exec_time: 0.06400203704833984
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('058A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06395339965820312
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '059A'
execute_sql_update  exec_time: 0.0645742416381836
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('059A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0627896785736084
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '060A'
execute_sql_update  exec_time: 0.06512999534606934
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('060A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06370759010314941
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '061A'
execute_sql_update  exec_time: 0.06799530982971191
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('061A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06406617164611816
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '062A'
execute_sql_update  exec_time: 0.0631866455078125
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('062A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06301093101501465
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '063A'
execute_sql_update  exec_time: 0.06408476829528809
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('063A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06421613693237305
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '064A'
execute_sql_update  exec_time: 0.06381487846374512
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('064A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06337356567382812
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '065A'
execute_sql_update  exec_time: 0.06426525115966797
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('065A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0632023811340332
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '066A'
execute_sql_update  exec_time: 0.06423830986022949
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('066A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06413054466247559
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '067A'
execute_sql_update  exec_time: 0.065887451171875
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('067A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06244373321533203
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '068A'
execute_sql_update  exec_time: 0.0624849796295166
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('068A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06329464912414551
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '069A'
execute_sql_update  exec_time: 0.06430864334106445
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('069A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06532454490661621
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '070A'
execute_sql_update  exec_time: 0.06425189971923828
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('070A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06308460235595703
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '071A'
execute_sql_update  exec_time: 0.06407642364501953
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('071A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06438732147216797
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '072A'
execute_sql_update  exec_time: 0.06398487091064453
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('072A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06289315223693848
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '073A'
execute_sql_update  exec_time: 0.06403374671936035
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('073A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06277036666870117
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '074A'
execute_sql_update  exec_time: 0.06560277938842773
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('074A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06420087814331055
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '075A'
execute_sql_update  exec_time: 0.0640869140625
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('075A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06441903114318848
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '076A'
execute_sql_update  exec_time: 0.06779623031616211
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('076A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06378340721130371
None
update FORAQUS set FORAQUS_NCHG_DATE = '5-JUN-23' where FORAQUS_USER_ID_APPR = 'AMUSIAL1' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '077A'
execute_sql_update  exec_time: 0.07004451751708984
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('077A', 'AMUSIAL1', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06991052627563477
None

In [9]:
x = working_session.search_for_mt_queues()
print(x)

select  distinct foraqus.FORAQUS_QUEUE_ID,
        (select count(FORAQUS_USER_ID_APPR)
        from foraqus fa
        where fa.FORAQUS_QUEUE_ID = foraqus.FORAQUS_QUEUE_ID
                                    and fa.FORAQUS_TERM_DATE is null
                                    and fa.FORAQUS_NCHG_DATE is null) as OtherApprovers from foraqus  order by 2
execute_sql_query  exec_time: 0.31360864639282227
[]