In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import approval_que_app as aqa

In [4]:
working_session = aqa.OracleConnect()

logs file exists in project_root

In [3]:
working_session_backup = aqa.TableBackUp(working_session)

back_ups file exists in project_root
session_back_ups file exists in back_ups
user_back_ups file exists in back_ups

In [4]:
# Create session backups
_result = working_session_backup.perform_session_backup()
print(_result)
# Display created file names
print(working_session_backup.session_bk_FORAQUS_file_name)
print(working_session_backup.session_bk_FORAQRC_file_name)
print(working_session_backup.session_bk_FTVAPPQ_file_name)

back_ups/session_back_ups/FORAQUS_2022-10-26
select  FORAQUS_QUEUE_ID, FORAQUS_USER_ID_APPR, FORAQUS_QUEUE_LEVEL, FORAQUS_QUEUE_LIMIT, FORAQUS_EFF_DATE, FORAQUS_NCHG_DATE, FORAQUS_TERM_DATE, FORAQUS_ACTIVITY_DATE, FORAQUS_USER_ID, FORAQUS_SURROGATE_ID, FORAQUS_VERSION, FORAQUS_DATA_ORIGIN, FORAQUS_VPDI_CODE from FORAQUS
execute_sql_query  exec_time: 1.8758540153503418
select  FORAQRC_QUEUE_ID, FORAQRC_DOC_TYPE, FORAQRC_RULE_GROUP, FORAQRC_COAS_CODE, FORAQRC_FTYP_CODE, FORAQRC_FUND_CODE, FORAQRC_ORGN_CODE, FORAQRC_ATYP_CODE, FORAQRC_ACCT_CODE, FORAQRC_ACTIVITY_DATE, FORAQRC_USER_ID, FORAQRC_PROG_CODE, FORAQRC_SURROGATE_ID, FORAQRC_VERSION, FORAQRC_DATA_ORIGIN, FORAQRC_VPDI_CODE from FORAQRC
execute_sql_query  exec_time: 0.251117467880249
select  FTVAPPQ_QUEUE_ID, FTVAPPQ_DESCRIPTION, FTVAPPQ_QUEUE_LIMIT, FTVAPPQ_NEXT_QUEUE_ID, FTVAPPQ_APPROVAL_REQ, FTVAPPQ_ACTIVITY_DATE, FTVAPPQ_USER_ID, FTVAPPQ_SURROGATE_ID, FTVAPPQ_DATA_ORIGIN, FTVAPPQ_VERSION, FTVAPPQ_VPDI_CODE from FTVAPPQ
execute_sql_query  exec_time: 0.28301048278808594
None
FORAQUS_2022-10-26
FORAQRC_2022-10-26
FTVAPPQ_2022-10-26

In [56]:
working_session.engine_connection.close()

In [ ]:
print(working_session)
print(dir(working_session))
print(vars(working_session))

In [ ]:
_select = 'distinct FORAQUS_USER_ID_APPR'
_from = 'FORAQUS'
_where = ''
_order_by = 'FORAQUS_USER_ID_APPR'
_group_by = ''
_max_records_returned = ''

In [ ]:
x = working_session.db_query(_select, _from, _where, _order_by, _group_by, _max_records_returned)
print(x)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Workforce Development Community Engagement'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['LNOWAK']),('E','G',999.99,['BJESTER1']),('G','EXBS',4999.99,['HDAVIS18'])]
orgns_to_route = ['12807']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Cell Towers'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','G',.01,['BJESTER1']),('G','VPAS',.05,['DMCINTOSH1'])]
orgns_to_route = ['23003', '23004']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = '23006 Emergency Phone'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','C',.01,['BJESTER1']),('C','E',.02,['SMILLER66']),('E','G',0.03,['MDIOQUINO']),('G','VPAS',0.04,['RSHAW'])]
orgns_to_route = ['23006']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'COVID-19 Recovery Block Grant'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','G',0.03,['SMILLER66']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62402']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Student Housing Planning Grant'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['UGOFF']),('E','G',0.03,['SBRAR']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62401']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
queue_chain_number = working_session.get_next_queue_number()
queue_description = 'Zero Textbook Cost Prog'
queues_to_build = [('A','B',0,['AMUSIAL1','EOBRIEN3']),('B','E',.01,['BJESTER1']),('E','G',0.03,['KMITCHELL18']),('G','VPAS',0.04,['SMILLER66'])]
orgns_to_route = ['62401']
working_session.build_a_new_queue_chain(queue_chain_number, queue_description, queues_to_build, orgns_to_route)

In [ ]:
# List current approver queues
x,y = working_session.get_approvers_queues('CHART8')
print(x,y)

In [ ]:
# Replace Approver in Selected Queues to replace current approver with replacement. Pass no queues to replace in all queues.
# Replace all Ex. : working_session.replace_approver('NVALSAMIDES', 'RWALDEN')
#x = working_session.replace_approver('CHART8', 'HDAVIS18', ('CAQ', 'INVQ', 'JVQ', 'NSF')) #
x = working_session.replace_approver('CHART8', 'HDAVIS18')

In [ ]:
# ReList current approver queues
x,y = working_session.get_approvers_queues('CHART8')
print(x,y)

In [55]:
x = working_session.search_for_mt_queues()

print(x)

select  distinct foraqus.FORAQUS_QUEUE_ID,
        (select count(FORAQUS_USER_ID_APPR)
        from foraqus fa
        where fa.FORAQUS_QUEUE_ID = foraqus.FORAQUS_QUEUE_ID
                                    and fa.FORAQUS_TERM_DATE is null
                                    and fa.FORAQUS_NCHG_DATE is null) as OtherApprovers from foraqus  order by 2
execute_sql_query  exec_time: 0.2955915927886963
alert ('022B', 0)
alert ('023B', 0)
alert ('031B', 0)
alert ('032B', 0)
alert ('035B', 0)
alert ('038B', 0)
alert ('039B', 0)
alert ('048B', 0)
alert ('049B', 0)
alert ('050B', 0)
alert ('060B', 0)
alert ('061B', 0)
alert ('062B', 0)
alert ('063B', 0)
alert ('064B', 0)
alert ('066B', 0)
alert ('067B', 0)
alert ('068B', 0)
alert ('085B', 0)
alert ('086B', 0)
alert ('087B', 0)
alert ('088B', 0)
alert ('089B', 0)
alert ('091B', 0)
alert ('092B', 0)
alert ('094B', 0)
alert ('097B', 0)
alert ('100B', 0)
alert ('102B', 0)
alert ('103B', 0)
alert ('105B', 0)
alert ('107B', 0)
alert ('108B', 0)
alert ('116B', 0)
alert ('131B', 0)
alert ('144B', 0)
alert ('149B', 0)
alert ('B022', 0)
alert ('B023', 0)
alert ('B031', 0)
alert ('B032', 0)
alert ('B035', 0)
alert ('B038', 0)
alert ('B040', 0)
alert ('B048', 0)
alert ('B049', 0)
alert ('B050', 0)
alert ('B060', 0)
alert ('B061', 0)
alert ('B063', 0)
alert ('B064', 0)
alert ('B066', 0)
alert ('B067', 0)
alert ('B068', 0)
alert ('B085', 0)
alert ('B086', 0)
alert ('B087', 0)
alert ('B088', 0)
alert ('B089', 0)
alert ('B091', 0)
alert ('B092', 0)
alert ('B094', 0)
alert ('B097', 0)
alert ('B100', 0)
alert ('B102', 0)
alert ('B103', 0)
alert ('B105', 0)
alert ('B107', 0)
alert ('B108', 0)
alert ('B116', 0)
alert ('B131', 0)
alert ('B144', 0)
alert ('B149', 0)
[('022B', 0), ('023B', 0), ('031B', 0), ('032B', 0), ('035B', 0), ('038B', 0), ('039B', 0), ('048B', 0), ('049B', 0), ('050B', 0), ('060B', 0), ('061B', 0), ('062B', 0), ('063B', 0), ('064B', 0), ('066B', 0), ('067B', 0), ('068B', 0), ('085B', 0), ('086B', 0), ('087B', 0), ('088B', 0), ('089B', 0), ('091B', 0), ('092B', 0), ('094B', 0), ('097B', 0), ('100B', 0), ('102B', 0), ('103B', 0), ('105B', 0), ('107B', 0), ('108B', 0), ('116B', 0), ('131B', 0), ('144B', 0), ('149B', 0), ('B022', 0), ('B023', 0), ('B031', 0), ('B032', 0), ('B035', 0), ('B038', 0), ('B040', 0), ('B048', 0), ('B049', 0), ('B050', 0), ('B060', 0), ('B061', 0), ('B063', 0), ('B064', 0), ('B066', 0), ('B067', 0), ('B068', 0), ('B085', 0), ('B086', 0), ('B087', 0), ('B088', 0), ('B089', 0), ('B091', 0), ('B092', 0), ('B094', 0), ('B097', 0), ('B100', 0), ('B102', 0), ('B103', 0), ('B105', 0), ('B107', 0), ('B108', 0), ('B116', 0), ('B131', 0), ('B144', 0), ('B149', 0)]

In [17]:
# List current approver queues
x,y = working_session.get_approvers_queues('KJANISZEWSKI')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'KJANISZEWSKI' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.06913518905639648
KJANISZEWSKI ['009B', '010B', '011B', '012B', '020B', '021B', '026B', '058B', '098B', '109B', '115B', '129B', '136B', '142B', 'B009', 'B010', 'B011', 'B012', 'B020', 'B021', 'B026', 'B033', 'B065', 'B098', 'B106', 'B109', 'B111', 'B115', 'B122', 'B126', 'B127', 'B129', 'B136', 'B138', 'B140', 'B142', 'B148', 'CAQ', 'INVQ', 'JVQ', 'NSF']

In [ ]:
x = working_session.term_approver('KJANISZEWSKI', '25-OCT-22', from_queues = ('000B', '001B', '002B', '003B', '004B', '005B', '006B', '007B', '008B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '020B', '024B', '025B', '071B', '072B', '073B', '074B', '075B', '076B', '077B', '078B', '079B', '080B', '081B', '083B', '084B', '085B', '096B', '097B', '115B', '117B', '124B', '125B', '139B', '140B', '141B', '143B', 'B001', 'B002', 'B003', 'B004', 'B006', 'B007', 'B008', 'B013', 'B014', 'B015', 'B016', 'B017', 'B018', 'B019', 'B020', 'B024', 'B053', 'B054', 'B055', 'B071', 'B076', 'B077', 'B078', 'B079', 'B080', 'B084', 'B085', 'B096', 'B097', 'B123', 'B131', 'B141', 'B143', 'B146', 'B147', 'B149') )

In [ ]:
#working_session.insert_into_foraqus("""'B009', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'009B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B020', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'020B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'B098', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'098B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'B115', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'115B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
# BJESTER1
x = working_session.term_approver('BJESTER1', '26-OCT-22', from_queues = ('000B', '002B', '008B', '020B', '023B', '098B', '139B', '140B', '149B', 'B067', 'B140', 'B141', 'B147', 'B148', 'B149'))

In [ ]:

# Step 2 Place DCLARKHACKENBERG into new queue
working_session.insert_into_foraqus("""'B078', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'078B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

In [ ]:
working_session.orgn_to_queue("'12250', '12360', '12305', '12255', '12155', '12055', '12165', '12355', '12105'")

In [22]:
# List LNOWAK current approver queues
x,y = working_session.get_approvers_queues('LNOWAK')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.05338025093078613
LNOWAK ['000B', '000B', '002B', '002B', '004B', '005B', '005E', '007B', '020B', '040B', '071B', '072B', '073B', '074B', '075B', '076B', '104B', '104B', '115B', '119B', '135B', '137B', 'B000', 'B000', 'B002', 'B002', 'B004', 'B005', 'B020', 'B071', 'B072', 'B073', 'B074', 'B075', 'B076', 'B104', 'B115', 'B119', 'B135', 'B137', 'INVQ']

In [20]:

x = working_session.term_approver('LNOWAK', '26-OCT-22', from_queues = ('001B', '003B', '006B', '008B', '009B', '010B', '011B', '012B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '021B', '022B', '023B', '024B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '034B', '035B', '036B', '037B', '038B', '039B', '041B', '042B', '043B', '044B', '045B', '046B', '047B', '048B', '049B', '050B', '051B', '052B', '053B', '054B', '055B', '056B', '057B', '058B', '059B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '116B', '117B', '118B', '120B', '121B', '122B', '123B', '124B', '125B', '127B', '128B', '129B', '139B', '140B', '141B', '143B', '144B', 'B003', 'B006', 'B007', 'B008', 'B009', 'B013', 'B015', 'B018', 'B019', 'B022', 'B023', 'B025', 'B031', 'B032', 'B034', 'B035', 'B036', 'B038', 'B040', 'B043', 'B048', 'B049', 'B050', 'B056', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B069', 'B070', 'B077', 'B078', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B093', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B104', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B120', 'B123', 'B131', 'B140', 'B141', 'B143', 'B144', 'B146', 'B147', 'B148', 'B149'))

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID in ('001B', '003B', '006B', '008B', '009B', '010B', '011B', '012B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '021B', '022B', '023B', '024B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '034B', '035B', '036B', '037B', '038B', '039B', '041B', '042B', '043B', '044B', '045B', '046B', '047B', '048B', '049B', '050B', '051B', '052B', '053B', '054B', '055B', '056B', '057B', '058B', '059B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '116B', '117B', '118B', '120B', '121B', '122B', '123B', '124B', '125B', '127B', '128B', '129B', '139B', '140B', '141B', '143B', '144B', 'B003', 'B006', 'B007', 'B008', 'B009', 'B013', 'B015', 'B018', 'B019', 'B022', 'B023', 'B025', 'B031', 'B032', 'B034', 'B035', 'B036', 'B038', 'B040', 'B043', 'B048', 'B049', 'B050', 'B056', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B069', 'B070', 'B077', 'B078', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B093', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B104', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B120', 'B123', 'B131', 'B140', 'B141', 'B143', 'B144', 'B146', 'B147', 'B148', 'B149')
execute_sql_query  exec_time: 0.1002507209777832
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '001B'
execute_sql_update  exec_time: 0.07813715934753418
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('001B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902742385864258
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '003B'
execute_sql_update  exec_time: 0.08457183837890625
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06901931762695312
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '006B'
execute_sql_update  exec_time: 0.06069207191467285
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('006B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07050323486328125
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '008B'
execute_sql_update  exec_time: 0.06900334358215332
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06252789497375488
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '009B'
execute_sql_update  exec_time: 0.07053041458129883
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0691072940826416
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '010B'
execute_sql_update  exec_time: 0.0766439437866211
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06279730796813965
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '011B'
execute_sql_update  exec_time: 0.0574030876159668
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06896543502807617
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '012B'
execute_sql_update  exec_time: 0.06251931190490723
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('012B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06904387474060059
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '013B'
execute_sql_update  exec_time: 0.06899189949035645
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07810664176940918
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '014B'
execute_sql_update  exec_time: 0.0534055233001709
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('014B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902480125427246
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '015B'
execute_sql_update  exec_time: 0.062456607818603516
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('015B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07320213317871094
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '016B'
execute_sql_update  exec_time: 0.0801839828491211
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('016B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06245684623718262
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '017B'
execute_sql_update  exec_time: 0.05340290069580078
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('017B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06899380683898926
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '018B'
execute_sql_update  exec_time: 0.0624849796295166
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('018B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06905889511108398
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '019B'
execute_sql_update  exec_time: 0.06904983520507812
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('019B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08464550971984863
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '021B'
execute_sql_update  exec_time: 0.062490224838256836
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('021B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06901836395263672
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '022B'
execute_sql_update  exec_time: 0.10021543502807617
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0624842643737793
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '023B'
execute_sql_update  exec_time: 0.05337262153625488
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06899380683898926
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '024B'
execute_sql_update  exec_time: 0.07814788818359375
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('024B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05343937873840332
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '025B'
execute_sql_update  exec_time: 0.08464503288269043
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('025B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06245613098144531
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '026B'
execute_sql_update  exec_time: 0.05342507362365723
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('026B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0689854621887207
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '027B'
execute_sql_update  exec_time: 0.06248617172241211
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06906843185424805
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '028B'
execute_sql_update  exec_time: 0.05341291427612305
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.062487125396728516
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '029B'
execute_sql_update  exec_time: 0.06902909278869629
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('029B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06905078887939453
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '030B'
execute_sql_update  exec_time: 0.05781269073486328
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('030B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.1022634506225586
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '128B'
execute_sql_update  exec_time: 0.05585360527038574
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('128B', 'LNOWAK', 10, 0.02, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902456283569336
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '041B'
execute_sql_update  exec_time: 0.07811164855957031
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('041B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05340123176574707
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '042B'
execute_sql_update  exec_time: 0.0846548080444336
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('042B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06248068809509277
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '043B'
execute_sql_update  exec_time: 0.06902360916137695
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('043B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05342745780944824
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '044B'
execute_sql_update  exec_time: 0.0784454345703125
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('044B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05351972579956055
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '045B'
execute_sql_update  exec_time: 0.07616019248962402
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('045B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06418561935424805
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '046B'
execute_sql_update  exec_time: 0.060039520263671875
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('046B', 'LNOWAK', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0690925121307373
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'LNOWAK' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '047B'
execute_sql_update  exec_time: 0.06284189224243164

In [ ]:
'62466', '11050', '11200', '11201', '11800', '12930'
[('11201', '104'), ('62466', '135')][('1001', '000'), ('1002', '002'), ('3001', '076'), ('1400', '020')]

In [21]:

working_session.insert_into_foraqus("""'B002', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'002B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B000', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'000B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B135', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'135B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B104', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'104B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B002', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06252145767211914
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('002B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06903457641601562
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B000', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07158374786376953
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('000B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06278872489929199
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B135', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07107377052307129
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('135B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06202554702758789
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B104', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07884526252746582
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('104B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06408548355102539
None

In [28]:
# List UGOFF current approver queues
x,y = working_session.get_approvers_queues('UGOFF')
print(x,y)

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null order by FORAQUS_QUEUE_ID
execute_sql_query  exec_time: 0.05341196060180664
UGOFF ['000B', '002B', '013B', '014B', '015B', '016B', '017B', '018B', '019B', '020B', '020B', '024B', '034B', '036B', '037B', '043B', '044B', '046B', '047B', '051B', '052B', '053B', '054B', '055B', '056B', '057B', '059B', '076B', '120B', '121B', '123B', '125B', '139B', '147B', 'B000', 'B002', 'B008', 'B013', 'B014', 'B015', 'B016', 'B017', 'B018', 'B019', 'B020', 'B024', 'B028', 'B029', 'B034', 'B036', 'B037', 'B039', 'B043', 'B044', 'B046', 'B047', 'B051', 'B052', 'B056', 'B057', 'B059', 'B069', 'B070', 'B076', 'B090', 'B093', 'B120', 'B121', 'B123', 'B125', 'B139', 'B147', 'CAQ', 'INVQ', 'NSF']

In [25]:

x = working_session.term_approver('UGOFF', '26-OCT-22', from_queues = ('001B', '003B', '004B', '005B', '006B', '007B', '008B', '009B', '010B', '011B', '012B', '021B', '022B', '023B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '035B', '038B', '039B', '040B', '041B', '042B', '045B', '048B', '049B', '050B', '058B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '071B', '072B', '073B', '074B', '075B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '104B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '115B', '116B', '117B', '118B', '119B', '122B', '124B', '127B', '128B', '129B', '130B', '132B', '137B', '138B', '140B', '141B', '142B', '143B', '148B', 'B003', 'B004', 'B006', 'B007', 'B009', 'B022', 'B023', 'B031', 'B032', 'B035', 'B038', 'B048', 'B049', 'B050', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B071', 'B077', 'B078', 'B079', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B131', 'B137', 'B140', 'B141', 'B143', 'B146', 'B148', 'B149'))

select  FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,
        FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE from FORAQUS where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID in ('001B', '003B', '004B', '005B', '006B', '007B', '008B', '009B', '010B', '011B', '012B', '021B', '022B', '023B', '025B', '026B', '027B', '028B', '029B', '030B', '031B', '032B', '033B', '035B', '038B', '039B', '040B', '041B', '042B', '045B', '048B', '049B', '050B', '058B', '060B', '061B', '062B', '063B', '064B', '065B', '066B', '067B', '068B', '069B', '070B', '071B', '072B', '073B', '074B', '075B', '077B', '078B', '079B', '080B', '081B', '082B', '083B', '084B', '085B', '086B', '087B', '088B', '089B', '090B', '091B', '092B', '093B', '094B', '095B', '096B', '097B', '098B', '099B', '100B', '101B', '102B', '103B', '104B', '105B', '106B', '107B', '108B', '109B', '110B', '111B', '112B', '113B', '114B', '115B', '116B', '117B', '118B', '119B', '122B', '124B', '127B', '128B', '129B', '130B', '132B', '137B', '138B', '140B', '141B', '142B', '143B', '148B', 'B003', 'B004', 'B006', 'B007', 'B009', 'B022', 'B023', 'B031', 'B032', 'B035', 'B038', 'B048', 'B049', 'B050', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B068', 'B071', 'B077', 'B078', 'B079', 'B080', 'B084', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B096', 'B097', 'B100', 'B102', 'B103', 'B105', 'B107', 'B108', 'B109', 'B112', 'B116', 'B131', 'B137', 'B140', 'B141', 'B143', 'B146', 'B148', 'B149')
execute_sql_query  exec_time: 0.08473563194274902
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '003B'
execute_sql_update  exec_time: 0.06875944137573242
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('003B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06897449493408203
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B003'
execute_sql_update  exec_time: 0.06252121925354004
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B003', 'UGOFF', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0808875560760498
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '071B'
execute_sql_update  exec_time: 0.05683588981628418
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('071B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07814431190490723
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B006'
execute_sql_update  exec_time: 0.053240299224853516
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B006', 'UGOFF', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06882500648498535
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '009B'
execute_sql_update  exec_time: 0.06281805038452148
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('009B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06853938102722168
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '084B'
execute_sql_update  exec_time: 0.06880760192871094
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('084B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06279635429382324
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = 'B071'
execute_sql_update  exec_time: 0.06885075569152832
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B071', 'UGOFF', 10, 0.0, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06874704360961914
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '104B'
execute_sql_update  exec_time: 0.06281185150146484
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('104B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06857514381408691
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '004B'
execute_sql_update  exec_time: 0.06892156600952148
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('004B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.062491416931152344
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '010B'
execute_sql_update  exec_time: 0.07194781303405762
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('010B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06412816047668457
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '011B'
execute_sql_update  exec_time: 0.06350088119506836
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('011B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0688016414642334
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '022B'
execute_sql_update  exec_time: 0.06859707832336426
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('022B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0628361701965332
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '023B'
execute_sql_update  exec_time: 0.06851506233215332
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('023B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06277728080749512
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '026B'
execute_sql_update  exec_time: 0.06888079643249512
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('026B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06883883476257324
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '027B'
execute_sql_update  exec_time: 0.06881189346313477
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('027B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06252598762512207
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '028B'
execute_sql_update  exec_time: 0.06908702850341797
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06248188018798828
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '029B'
execute_sql_update  exec_time: 0.0688626766204834
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('029B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07107353210449219
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '030B'
execute_sql_update  exec_time: 0.0663912296295166
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('030B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06720232963562012
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '031B'
execute_sql_update  exec_time: 0.05050921440124512
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('031B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07845449447631836
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '032B'
execute_sql_update  exec_time: 0.05121445655822754
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('032B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06897377967834473
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '033B'
execute_sql_update  exec_time: 0.062483787536621094
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08463311195373535
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '035B'
execute_sql_update  exec_time: 0.06902170181274414
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('035B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902694702148438
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '073B'
execute_sql_update  exec_time: 0.06248974800109863
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('073B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902670860290527
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '106B'
execute_sql_update  exec_time: 0.06899571418762207
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('106B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.062490224838256836
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '107B'
execute_sql_update  exec_time: 0.05346941947937012
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('107B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07810306549072266
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '108B'
execute_sql_update  exec_time: 0.05340862274169922
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('108B', 'UGOFF', 10, 0.04, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06902027130126953
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '109B'
execute_sql_update  exec_time: 0.06251955032348633
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('109B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06906890869140625
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '110B'
execute_sql_update  exec_time: 0.0690608024597168
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('110B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06248760223388672
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '111B'
execute_sql_update  exec_time: 0.06905031204223633
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('111B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.05340576171875
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '112B'
execute_sql_update  exec_time: 0.06251955032348633
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('112B', 'UGOFF', 10, 0.04, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06907224655151367
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '113B'
execute_sql_update  exec_time: 0.06900167465209961
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('113B', 'UGOFF', 1, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06252026557922363
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '114B'
execute_sql_update  exec_time: 0.06902480125427246
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('114B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0690460205078125
None
update FORAQUS set FORAQUS_NCHG_DATE = '26-OCT-22' where FORAQUS_USER_ID_APPR = 'UGOFF' and FORAQUS_NCHG_DATE is null and FORAQUS_TERM_DATE is null and FORAQUS_QUEUE_ID = '116B'
execute_sql_update  exec_time: 0.06251955032348633
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('116B', 'UGOFF', 10, 0.01, sysdate, null, sysdate, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.08462166786193848
None

In [ ]:
'13205', '13206,' '62452'
[('1001', '000'), ('1002', '002'), ('3001', '076'), ('1400', '020')]

In [27]:
working_session.insert_into_foraqus("""'B000', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'000B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B020', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'020B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B000', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07052326202392578
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B020', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06630778312683105
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('020B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06388521194458008
None

In [50]:
x = [('008B', 0), ('013E', 0), ('022B', 0), ('023B', 0), ('028B', 0), ('029B', 0), ('031B', 0), ('032B', 0), ('033B', 0), ('035B', 0), ('035C', 0), ('038B', 0), ('039B', 0), ('048B', 0), ('049B', 0), ('049C', 0), ('050B', 0), ('060B', 0), ('061B', 0), ('062B', 0), ('062C', 0), ('063B', 0), ('064B', 0), ('065B', 0), ('066B', 0), ('066C', 0), ('067B', 0), ('068B', 0), ('069B', 0), ('070B', 0), ('081B', 0), ('082B', 0), ('085B', 0), ('086B', 0), ('087B', 0), ('087G', 0), ('088B', 0), ('088C', 0), ('089B', 0), ('090B', 0), ('091B', 0), ('092B', 0), ('093B', 0), ('094B', 0), ('095B', 0), ('097B', 0), ('100B', 0), ('102B', 0), ('103B', 0), ('103F', 0), ('105B', 0), ('106B', 0), ('107B', 0), ('108B', 0), ('108E', 0), ('108F', 0), ('110B', 0), ('111B', 0), ('112B', 0), ('116B', 0), ('118B', 0), ('119E', 0), ('122B', 0), ('123G', 0), ('126B', 0), ('127B', 0), ('130B', 0), ('131B', 0), ('133B', 0), ('138B', 0), ('140B', 0), ('144B', 0), ('148B', 0), ('149B', 0), ('B007', 0), ('B022', 0), ('B023', 0), ('B031', 0), ('B032', 0), ('B035', 0), ('B038', 0), ('B040', 0), ('B048', 0), ('B049', 0), ('B050', 0), ('B053', 0), ('B054', 0), ('B055', 0), ('B058', 0), ('B060', 0), ('B061', 0), ('B063', 0), ('B064', 0), ('B066', 0), ('B067', 0), ('B068', 0), ('B079', 0), ('B085', 0), ('B086', 0), ('B087', 0), ('B088', 0), ('B089', 0), ('B091', 0), ('B092', 0), ('B094', 0), ('B097', 0), ('B100', 0), ('B102', 0), ('B103', 0), ('B105', 0), ('B107', 0), ('B108', 0), ('B112', 0), ('B116', 0), ('B131', 0), ('B141', 0), ('B144', 0), ('B149', 0)]

x = [('013E', 0), ('022B', 0), ('023B', 0), ('031B', 0), ('032B', 0), ('035B', 0), ('035C', 0), ('038B', 0), ('039B', 0), ('048B', 0), ('049B', 0), ('049C', 0), ('050B', 0), ('060B', 0), ('061B', 0), ('062B', 0), ('062C', 0), ('063B', 0), ('064B', 0), ('066B', 0), ('066C', 0), ('067B', 0), ('068B', 0), ('069B', 0), ('070B', 0), ('085B', 0), ('086B', 0), ('087B', 0), ('087G', 0), ('088B', 0), ('088C', 0), ('089B', 0), ('091B', 0), ('092B', 0), ('093B', 0), ('094B', 0), ('097B', 0), ('100B', 0), ('102B', 0), ('103B', 0), ('103F', 0), ('105B', 0), ('107B', 0), ('108B', 0), ('108E', 0), ('108F', 0), ('116B', 0), ('119E', 0), ('123G', 0), ('131B', 0), ('144B', 0), ('149B', 0), ('B022', 0), ('B023', 0), ('B031', 0), ('B032', 0), ('B035', 0), ('B038', 0), ('B040', 0), ('B048', 0), ('B049', 0), ('B050', 0), ('B053', 0), ('B054', 0), ('B055', 0), ('B058', 0), ('B060', 0), ('B061', 0), ('B063', 0), ('B064', 0), ('B066', 0), ('B067', 0), ('B068', 0), ('B079', 0), ('B085', 0), ('B086', 0), ('B087', 0), ('B088', 0), ('B089', 0), ('B091', 0), ('B092', 0), ('B094', 0), ('B097', 0), ('B100', 0), ('B102', 0), ('B103', 0), ('B105', 0), ('B107', 0), ('B108', 0), ('B116', 0), ('B131', 0), ('B141', 0), ('B144', 0), ('B149', 0)]

new_list = []
for y in x:
    new_list.append(y[0])

print(new_list)
fix_it_list = []
for w in new_list:
    if w[0] == 'B':
        a = working_session.queue_to_orgn(f"'{w}'")
        pass
    else:
        #print(w[0:3])
        a = working_session.queue_to_orgn(f"'{w[0:3]}A'")

    fix_it_list.append(a)

print(fix_it_list)

['013E', '022B', '023B', '031B', '032B', '035B', '035C', '038B', '039B', '048B', '049B', '049C', '050B', '060B', '061B', '062B', '062C', '063B', '064B', '066B', '066C', '067B', '068B', '069B', '070B', '085B', '086B', '087B', '087G', '088B', '088C', '089B', '091B', '092B', '093B', '094B', '097B', '100B', '102B', '103B', '103F', '105B', '107B', '108B', '108E', '108F', '116B', '119E', '123G', '131B', '144B', '149B', 'B022', 'B023', 'B031', 'B032', 'B035', 'B038', 'B040', 'B048', 'B049', 'B050', 'B053', 'B054', 'B055', 'B058', 'B060', 'B061', 'B063', 'B064', 'B066', 'B067', 'B068', 'B079', 'B085', 'B086', 'B087', 'B088', 'B089', 'B091', 'B092', 'B094', 'B097', 'B100', 'B102', 'B103', 'B105', 'B107', 'B108', 'B116', 'B131', 'B141', 'B144', 'B149']
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('013A')
execute_sql_query  exec_time: 0.034088134765625
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('022A')
execute_sql_query  exec_time: 0.03193044662475586
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('023A')
execute_sql_query  exec_time: 0.033416032791137695
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('031A')
execute_sql_query  exec_time: 0.03390979766845703
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('032A')
execute_sql_query  exec_time: 0.03291583061218262
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('035A')
execute_sql_query  exec_time: 0.03351235389709473
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('035A')
execute_sql_query  exec_time: 0.042890310287475586
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('038A')
execute_sql_query  exec_time: 0.0319819450378418
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('039A')
execute_sql_query  exec_time: 0.03299093246459961
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('048A')
execute_sql_query  exec_time: 0.03397560119628906
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('049A')
execute_sql_query  exec_time: 0.036778926849365234
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('049A')
execute_sql_query  exec_time: 0.031913042068481445
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('050A')
execute_sql_query  exec_time: 0.03092503547668457
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('060A')
execute_sql_query  exec_time: 0.03290557861328125
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('061A')
execute_sql_query  exec_time: 0.03091716766357422
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('062A')
execute_sql_query  exec_time: 0.030910730361938477
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('062A')
execute_sql_query  exec_time: 0.03191852569580078
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('063A')
execute_sql_query  exec_time: 0.03397846221923828
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('064A')
execute_sql_query  exec_time: 0.035042524337768555
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('066A')
execute_sql_query  exec_time: 0.03118276596069336
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('066A')
execute_sql_query  exec_time: 0.03253889083862305
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('067A')
execute_sql_query  exec_time: 0.062265872955322266
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('068A')
execute_sql_query  exec_time: 0.032913923263549805
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('069A')
execute_sql_query  exec_time: 0.03391242027282715
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('070A')
execute_sql_query  exec_time: 0.032906532287597656
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('085A')
execute_sql_query  exec_time: 0.03542518615722656
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('086A')
execute_sql_query  exec_time: 0.03589344024658203
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('087A')
execute_sql_query  exec_time: 0.03362607955932617
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('087A')
execute_sql_query  exec_time: 0.033989906311035156
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('088A')
execute_sql_query  exec_time: 0.03183937072753906
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('088A')
execute_sql_query  exec_time: 0.03170514106750488
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('089A')
execute_sql_query  exec_time: 0.03378558158874512
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('091A')
execute_sql_query  exec_time: 0.03159952163696289
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('092A')
execute_sql_query  exec_time: 0.0314328670501709
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('093A')
execute_sql_query  exec_time: 0.03308367729187012
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('094A')
execute_sql_query  exec_time: 0.03128361701965332
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('097A')
execute_sql_query  exec_time: 0.03198838233947754
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('100A')
execute_sql_query  exec_time: 0.03092217445373535
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('102A')
execute_sql_query  exec_time: 0.03191542625427246
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('103A')
execute_sql_query  exec_time: 0.06283998489379883
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('103A')
execute_sql_query  exec_time: 0.06244683265686035
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('105A')
execute_sql_query  exec_time: 0.030922412872314453
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('107A')
execute_sql_query  exec_time: 0.030881881713867188
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('108A')
execute_sql_query  exec_time: 0.03191566467285156
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('108A')
execute_sql_query  exec_time: 0.03091740608215332
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('108A')
execute_sql_query  exec_time: 0.03193354606628418
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('116A')
execute_sql_query  exec_time: 0.03191494941711426
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('119A')
execute_sql_query  exec_time: 0.03098773956298828
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('123A')
execute_sql_query  exec_time: 0.062073469161987305
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('131A')
execute_sql_query  exec_time: 0.03088688850402832
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('144A')
execute_sql_query  exec_time: 0.03192853927612305
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('149A')
execute_sql_query  exec_time: 0.031325578689575195
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B022')
execute_sql_query  exec_time: 0.03091740608215332
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B023')
execute_sql_query  exec_time: 0.029920578002929688
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B031')
execute_sql_query  exec_time: 0.03096747398376465
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B032')
execute_sql_query  exec_time: 0.030942916870117188
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B035')
execute_sql_query  exec_time: 0.03188920021057129
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B038')
execute_sql_query  exec_time: 0.03202390670776367
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B040')
execute_sql_query  exec_time: 0.03191375732421875
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B048')
execute_sql_query  exec_time: 0.030008792877197266
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B049')
execute_sql_query  exec_time: 0.031232118606567383
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B050')
execute_sql_query  exec_time: 0.0309293270111084
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B053')
execute_sql_query  exec_time: 0.031903982162475586
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B054')
execute_sql_query  exec_time: 0.030949831008911133
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B055')
execute_sql_query  exec_time: 0.03491067886352539
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B058')
execute_sql_query  exec_time: 0.0339198112487793
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B060')
execute_sql_query  exec_time: 0.032918691635131836
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B061')
execute_sql_query  exec_time: 0.03203105926513672
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B063')
execute_sql_query  exec_time: 0.03184938430786133
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B064')
execute_sql_query  exec_time: 0.0319066047668457
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B066')
execute_sql_query  exec_time: 0.03454232215881348
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B067')
execute_sql_query  exec_time: 0.0636603832244873
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B068')
execute_sql_query  exec_time: 0.03281283378601074
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B079')
execute_sql_query  exec_time: 0.06479144096374512
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B085')
execute_sql_query  exec_time: 0.03191375732421875
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B086')
execute_sql_query  exec_time: 0.03230452537536621
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B087')
execute_sql_query  exec_time: 0.030765056610107422
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B088')
execute_sql_query  exec_time: 0.031100749969482422
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B089')
execute_sql_query  exec_time: 0.032024383544921875
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B091')
execute_sql_query  exec_time: 0.03297567367553711
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B092')
execute_sql_query  exec_time: 0.032015085220336914
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B094')
execute_sql_query  exec_time: 0.030920743942260742
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B097')
execute_sql_query  exec_time: 0.031256914138793945
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B100')
execute_sql_query  exec_time: 0.03173565864562988
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B102')
execute_sql_query  exec_time: 0.033713340759277344
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B103')
execute_sql_query  exec_time: 0.06537270545959473
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B105')
execute_sql_query  exec_time: 0.03416013717651367
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B107')
execute_sql_query  exec_time: 0.03331303596496582
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B108')
execute_sql_query  exec_time: 0.03372621536254883
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B116')
execute_sql_query  exec_time: 0.03220963478088379
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B131')
execute_sql_query  exec_time: 0.03178000450134277
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B141')
execute_sql_query  exec_time: 0.03322625160217285
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B144')
execute_sql_query  exec_time: 0.03043675422668457
select  distinct FORAQRC_QUEUE_ID, FORAQRC_ORGN_CODE from FORAQRC where FORAQRC_QUEUE_ID in ('B149')
execute_sql_query  exec_time: 0.031846046447753906
[[('013A', '13300')], [('022A', '14905')], [('023A', '14910')], [('031A', '62040')], [('032A', '62041')], [('035A', '62080')], [('035A', '62080')], [('038A', '62410')], [('039A', '62411')], [('048A', '62431')], [('049A', '62432')], [('049A', '62432')], [('050A', '62433')], [('060A', '62471')], [('061A', '62472')], [('062A', '62491')], [('062A', '62491')], [('063A', '62701')], [('064A', '62702')], [('066A', '62704')], [('066A', '62704')], [('067A', '62438'), ('067A', '62705')], [('068A', '62706')], [('069A', '62707')], [('070A', '62708')], [('085A', '3007')], [('086A', '62418')], [('087A', '62474')], [('087A', '62474')], [('088A', '62419')], [('088A', '62419')], [('089A', '62473')], [('091A', '62434')], [('092A', '62421')], [('093A', '62601')], [('094A', '62475')], [('097A', '3009')], [('100A', '62710')], [('102A', '62479')], [('103A', '62485'), ('103A', '62489')], [('103A', '62485'), ('103A', '62489')], [('105A', '62481')], [('107A', '62484')], [('108A', '62712')], [('108A', '62712')], [('108A', '62712')], [('116A', '62423')], [('119A', '62446')], [('123A', '62045'), ('123A', '62036')], [('131A', '62459')], [('144A', '12807')], [('149A', '62501')], [('B022', '14905')], [('B023', '14910')], [('B031', '62040')], [('B032', '62041')], [('B035', '62080')], [('B038', '62410')], [('B040', '62414')], [('B048', '62431')], [('B049', '62432')], [('B050', '62433')], [('B053', '62450')], [('B054', '62451')], [('B055', '62453')], [('B058', '62462')], [('B060', '62471')], [('B061', '62472')], [('B063', '62701')], [('B064', '62702')], [('B066', '62704')], [('B067', '62705'), ('B067', '62438')], [('B068', '62706')], [('B079', '3004'), ('B079', '62444'), ('B079', '62445')], [('B085', '3007')], [('B086', '62418')], [('B087', '62474')], [('B088', '62419')], [('B089', '62473')], [('B091', '62434')], [('B092', '62421')], [('B094', '62475')], [('B097', '3009')], [('B100', '62710')], [('B102', '62479')], [('B103', '62485'), ('B103', '62489')], [('B105', '62481')], [], [('B108', '62712')], [('B116', '62423')], [('B131', '62459')], [('B141', '62719')], [('B144', '12807')], [('B149', '62501')]]

In [52]:
'''a = [[('008A', '1301')], [('013A', '13300')], [('022A', '14905')], [('023A', '14910')], [('028A', '62010')], [('029A', '62020')], [('031A', '62040')], [('032A', '62041')], [('033A', '62055'), ('033A', '62426'), ('033A', '62060')], [('035A', '62080')], [('035A', '62080')], [('038A', '62410')], [('039A', '62411')], [('048A', '62431')], [('049A', '62432')], [('049A', '62432')], [('050A', '62433')], [('060A', '62471')], [('061A', '62472')], [('062A', '62491')], [('062A', '62491')], [('063A', '62701')], [('064A', '62702')], [('065A', '62486'), ('065A', '62703')], [('066A', '62704')], [('066A', '62704')], [('067A', '62438'), ('067A', '62705')], [('068A', '62706')], [('069A', '62707')], [('070A', '62708')], [('081A', '12260')], [('082A', '12805')], [('085A', '3007')], [('086A', '62418')], [('087A', '62474')], [('087A', '62474')], [('088A', '62419')], [('088A', '62419')], [('089A', '62473')], [('090A', '62077'), ('090A', '62075')], [('091A', '62434')], [('092A', '62421')], [('093A', '62601')], [('094A', '62475')], [('095A', '62476')], [('097A', '3009')], [('100A', '62710')], [('102A', '62479')], [('103A', '62485'), ('103A', '62489')], [('103A', '62485'), ('103A', '62489')], [('105A', '62481')], [('106A', '62482')], [('107A', '62484')], [('108A', '62712')], [('108A', '62712')], [('108A', '62712')], [('110A', '62483')], [('111A', '62424')], [('112A', '62486')], [('116A', '62423')], [('118A', '62043'), ('118A', '62044')], [('119A', '62446')], [('122A', '62487')], [('123A', '62045'), ('123A', '62036')], [('126A', '62412')], [('127A', '62437')], [('130A', '62498')], [('131A', '62459')], [('133A', '62499')], [('138A', '62469'), ('138A', '62490')], [('140A', '62404')], [('144A', '12807')], [('148A', '62401')], [('149A', '62501')], [('B007', '1300')], [('B022', '14905')], [('B023', '14910')], [('B031', '62040')], [('B032', '62041')], [('B035', '62080')], [('B038', '62410')], [('B040', '62414')], [('B048', '62431')], [('B049', '62432')], [('B050', '62433')], [('B053', '62450')], [('B054', '62451')], [('B055', '62453')], [('B058', '62462')], [('B060', '62471')], [('B061', '62472')], [('B063', '62701')], [('B064', '62702')], [('B066', '62704')], [('B067', '62705'), ('B067', '62438')], [('B068', '62706')], [('B079', '3004'), ('B079', '62444'), ('B079', '62445')], [('B085', '3007')], [('B086', '62418')], [('B087', '62474')], [('B088', '62419')], [('B089', '62473')], [('B091', '62434')], [('B092', '62421')], [('B094', '62475')], [('B097', '3009')], [('B100', '62710')], [('B102', '62479')], [('B103', '62485'), ('B103', '62489')], [('B105', '62481')], [], [('B108', '62712')], [('B112', '62486')], [('B116', '62423')], [('B131', '62459')], [('B141', '62719')], [('B144', '12807')], [('B149', '62501')]]'''

a = [[('013A', '13300')], [('022A', '14905')], [('023A', '14910')], [('031A', '62040')], [('032A', '62041')], [('035A', '62080')], [('035A', '62080')], [('038A', '62410')], [('039A', '62411')], [('048A', '62431')], [('049A', '62432')], [('049A', '62432')], [('050A', '62433')], [('060A', '62471')], [('061A', '62472')], [('062A', '62491')], [('062A', '62491')], [('063A', '62701')], [('064A', '62702')], [('066A', '62704')], [('066A', '62704')], [('067A', '62438'), ('067A', '62705')], [('068A', '62706')], [('069A', '62707')], [('070A', '62708')], [('085A', '3007')], [('086A', '62418')], [('087A', '62474')], [('087A', '62474')], [('088A', '62419')], [('088A', '62419')], [('089A', '62473')], [('091A', '62434')], [('092A', '62421')], [('093A', '62601')], [('094A', '62475')], [('097A', '3009')], [('100A', '62710')], [('102A', '62479')], [('103A', '62485'), ('103A', '62489')], [('103A', '62485'), ('103A', '62489')], [('105A', '62481')], [('107A', '62484')], [('108A', '62712')], [('108A', '62712')], [('108A', '62712')], [('116A', '62423')], [('119A', '62446')], [('123A', '62045'), ('123A', '62036')], [('131A', '62459')], [('144A', '12807')], [('149A', '62501')], [('B022', '14905')], [('B023', '14910')], [('B031', '62040')], [('B032', '62041')], [('B035', '62080')], [('B038', '62410')], [('B040', '62414')], [('B048', '62431')], [('B049', '62432')], [('B050', '62433')], [('B053', '62450')], [('B054', '62451')], [('B055', '62453')], [('B058', '62462')], [('B060', '62471')], [('B061', '62472')], [('B063', '62701')], [('B064', '62702')], [('B066', '62704')], [('B067', '62705'), ('B067', '62438')], [('B068', '62706')], [('B079', '3004'), ('B079', '62444'), ('B079', '62445')], [('B085', '3007')], [('B086', '62418')], [('B087', '62474')], [('B088', '62419')], [('B089', '62473')], [('B091', '62434')], [('B092', '62421')], [('B094', '62475')], [('B097', '3009')], [('B100', '62710')], [('B102', '62479')], [('B103', '62485'), ('B103', '62489')], [('B105', '62481')], [], [('B108', '62712')], [('B116', '62423')], [('B131', '62459')], [('B141', '62719')], [('B144', '12807')], [('B149', '62501')]]

for b in a:
    print(b)

[('013A', '13300')]
[('022A', '14905')]
[('023A', '14910')]
[('031A', '62040')]
[('032A', '62041')]
[('035A', '62080')]
[('035A', '62080')]
[('038A', '62410')]
[('039A', '62411')]
[('048A', '62431')]
[('049A', '62432')]
[('049A', '62432')]
[('050A', '62433')]
[('060A', '62471')]
[('061A', '62472')]
[('062A', '62491')]
[('062A', '62491')]
[('063A', '62701')]
[('064A', '62702')]
[('066A', '62704')]
[('066A', '62704')]
[('067A', '62438'), ('067A', '62705')]
[('068A', '62706')]
[('069A', '62707')]
[('070A', '62708')]
[('085A', '3007')]
[('086A', '62418')]
[('087A', '62474')]
[('087A', '62474')]
[('088A', '62419')]
[('088A', '62419')]
[('089A', '62473')]
[('091A', '62434')]
[('092A', '62421')]
[('093A', '62601')]
[('094A', '62475')]
[('097A', '3009')]
[('100A', '62710')]
[('102A', '62479')]
[('103A', '62485'), ('103A', '62489')]
[('103A', '62485'), ('103A', '62489')]
[('105A', '62481')]
[('107A', '62484')]
[('108A', '62712')]
[('108A', '62712')]
[('108A', '62712')]
[('116A', '62423')]
[('119A', '62446')]
[('123A', '62045'), ('123A', '62036')]
[('131A', '62459')]
[('144A', '12807')]
[('149A', '62501')]
[('B022', '14905')]
[('B023', '14910')]
[('B031', '62040')]
[('B032', '62041')]
[('B035', '62080')]
[('B038', '62410')]
[('B040', '62414')]
[('B048', '62431')]
[('B049', '62432')]
[('B050', '62433')]
[('B053', '62450')]
[('B054', '62451')]
[('B055', '62453')]
[('B058', '62462')]
[('B060', '62471')]
[('B061', '62472')]
[('B063', '62701')]
[('B064', '62702')]
[('B066', '62704')]
[('B067', '62705'), ('B067', '62438')]
[('B068', '62706')]
[('B079', '3004'), ('B079', '62444'), ('B079', '62445')]
[('B085', '3007')]
[('B086', '62418')]
[('B087', '62474')]
[('B088', '62419')]
[('B089', '62473')]
[('B091', '62434')]
[('B092', '62421')]
[('B094', '62475')]
[('B097', '3009')]
[('B100', '62710')]
[('B102', '62479')]
[('B103', '62485'), ('B103', '62489')]
[('B105', '62481')]
[]
[('B108', '62712')]
[('B116', '62423')]
[('B131', '62459')]
[('B141', '62719')]
[('B144', '12807')]
[('B149', '62501')]

In [48]:
working_session.insert_into_foraqus("""'B133', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'133B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B130', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'130B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B118', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'118B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B110', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'110B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B095', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'095B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B082', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'082B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B081', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'081B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B133', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06988763809204102
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('133B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06482696533203125
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B130', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06482625007629395
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('130B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06582403182983398
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B118', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06601786613464355
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('118B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06600689888000488
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B110', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06501650810241699
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('110B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06583404541015625
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B095', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06512904167175293
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('095B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0635221004486084
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B082', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06514835357666016
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('082B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06404542922973633
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B081', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0649404525756836
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('081B', 'BJESTER1', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06532430648803711
None

In [47]:
working_session.insert_into_foraqus("""'B148', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'148B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B140', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'140B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B138', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'138B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B127', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'127B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B126', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'126B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B122', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'122B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B112', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'112B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B111', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'111B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B106', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'106B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B065', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'065B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B033', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'033B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B148', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06881523132324219
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('148B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06588983535766602
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B140', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06627869606018066
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('140B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06882357597351074
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B138', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06481647491455078
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('138B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06634712219238281
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B127', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06680727005004883
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('127B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06533455848693848
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B126', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0668783187866211
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('126B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06768965721130371
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B122', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0678255558013916
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('122B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07048296928405762
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B112', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06751537322998047
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('112B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0677633285522461
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B111', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07153439521789551
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('111B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0674746036529541
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B106', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06761717796325684
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('106B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06650257110595703
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B065', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0667576789855957
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('065B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06499123573303223
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B033', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06647419929504395
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('033B', 'KJANISZEWSKI', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06679391860961914
None

In [46]:
working_session.insert_into_foraqus("""'B119', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'119B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B007', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
#working_session.insert_into_foraqus("""'007B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B119', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0688328742980957
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('119B', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06582760810852051
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B007', 'LNOWAK', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06881284713745117
None

In [45]:
working_session.insert_into_foraqus("""'B008', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'008B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B013', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'013B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B028', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'028B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B029', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'029B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B090', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'090B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'B123', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)
working_session.insert_into_foraqus("""'123B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' """)

insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B008', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.13255643844604492
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('008B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06482720375061035
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B013', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0658261775970459
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('013B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06583189964294434
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B028', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06880903244018555
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('028B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06675601005554199
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B029', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06682443618774414
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('029B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0677947998046875
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B090', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06942081451416016
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('090B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.0698094367980957
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('B123', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.07082509994506836
None
insert into FORAQUS(FORAQUS_QUEUE_ID,FORAQUS_USER_ID_APPR,FORAQUS_QUEUE_LEVEL,FORAQUS_QUEUE_LIMIT,FORAQUS_EFF_DATE,FORAQUS_NCHG_DATE,FORAQUS_TERM_DATE,FORAQUS_ACTIVITY_DATE,FORAQUS_USER_ID) values('123B', 'UGOFF', 10, 0, sysdate, null, null, sysdate, 'RWALDEN' )
execute_sql_insert  exec_time: 0.06707358360290527
None